#follow.panel
  h2 Suggested People to Follow
  div.follow
    each user in users
      -var profilePhoto = user.profile_photo_url || '/images/default-profile.png'
      -var city = user.city || false
      -var location = user.state || false
      -if (location) location = user.city?user.city + ', ' + location:location
      -else location = user.city?user.city:'Unknown'
      .follow-card
        button.follow(type='button' 
          data-is-following=false 
          onclick='profile.followToggle(event, "#{user._id}")')
          | Follow
        .profile-avatar.cursor(style = 'background-image: url("#{profilePhoto}")' 
          onclick='nav.navigate("/profiles/#{user._id}")')
        p.name.cursor(onclick='nav.navigate("/profiles/#{user._id}"') #{user.name}
        .location #{location}
        .circle-container
          .user-circle
            .label Followers
            .count #{user.followers_count}
          .user-circle
            .label Following
            .count #{user.following_count}
          .user-circle
            .label Posts
            .count #{user.posts_count}
  button.next.blue Next
  script(type='text/javascript').
    $('button.next').click(function(){
      window.location = '/'; 
    });
