extends ../layouts/layout_app

block head
  link(rel='stylesheet' type='text/css' href='/stylesheets/profile/profile.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/profile/settings.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/settings.css')
  script(type='text/javascript' src='/javascripts/settings.js')
block content
  input#orgID(type='hidden' value='#{org._id}')
  .container.topnav-offset
    .user-settings-header.page-header
      | Settings
    .settings-container
      .left-box
        ul#options
          li.selected(data-val='theme' onclick='settings.nav(event)') 
            | Theme Color
          li.disabled(data-val='welcome' onclick='settings.nav(event)') 
            | Welcome Screen
          li.disabled(data-val='branding' onclick='settings.nav(event)') 
            | Branding
          li.disabled(data-val='policy' onclick='settings.nav(event)') 
            | User Policy
          li.disabled(data-val='follow' onclick='settings.nav(event)') 
            | Who to Follow
          li.disabled(data-val='featured' onclick='settings.nav(event)') 
            | Featured
      .right-box
        h3 Theme Color
        form#theme.settings-form
          h4 Select App Theme Color
          ul.themes
            li
              input#greenTheme.hidden(type='radio' name='theme' value='green')
              label.color.green(for='greenTheme')
            li
              input#pinkTheme.hidden(type='radio' name='theme' value='pink')
              label.color.pink(for='pinkTheme')
            li
              label.color.red(for='redTheme')
              input#redTheme(type='radio' name='theme' value='red')
            li
              input#blueTheme(type='radio' name='theme' value='blue')
              label.color.blue(for='blueTheme')
            li
              input#purpleTheme(type='radio' name='theme' value='purple')
              label.color.purple(for='purpleTheme')
            li
              #selectedTheme.color(class='#{org.theme?org.theme.background_url:"blue"}')
          .buttons
            button.save Save
        form#welcome.settings-form.hidden
          - var background = org.welcome_image_url?'background-image: url("' + org.welcome_image_url + '"); background-size: cover':''

          h4 Upload Image for Welcome Screen
          .welcome-drop(ondragover='settings.drag(event)' 
          ondrop='settings.drop(event)'
          data-preview='welcome-drop'
          style='#{background}' 
          onclick='$("#welcomeFile").click()')
            .instructions(class='#{org.welcome_image_url?"hidden":""}')
              | or drag and drop files onto this window to upload
              br
              | (limit file size to 2MB)
          input#welcomeFile.hidden(type='file' accept='image/*' name='image' data-preview='welcome-drop' onchange='settings.imageChanged(event)')
          .buttons
            button.save(type='submit') Save
        form#branding.settings-form.hidden  
          ul
            li
              label(for='uniqueURL') Unique URL
              input#uniqueURL(type='text' name='namespace' value='#{org.namespace || ""}')
            li
              label(for='reply') Reply to Email Address
              input#replay(type='text' name='reply_to' value='#{org.reply_to || ""}')
            li
              label(for='display') Display Name
              input#display(type='text' name='display_name' value='#{org.display_name || ""}')
          .logo
            label(for='logo' ) Upload Logo in Header
            - var background = org.logo_url?'background-image: url("' + org.logo_url + '"); background-size: cover':''
            div.logo-drop(ondragover='settings.drag(event)' ondrop='settings.drop(event)' style='#{background}' onclick='$("#imageFile").click()' data-preview='logo-drop')
              .instructions(class='#{org.logo_url?"hidden":""}')
                | or drag and drop files onto this window to upload
                br
                | (limit file size to 2MB)
            input#imageFile.hidden(type='file' accept='image/*' name='image' onchange='settings.imageChanged(event)' data-preview='logo-drop')
            .buttons
              button.save(type='submit') Save

    

