extends ../layouts/layout_app

block head
  link(rel='stylesheet' type='text/css' href='/stylesheets/profile/profile.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/profile/settings.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/settings.css')
  script(type='text/javascript' src='/javascripts/settings.js')
block content
  input#orgID(type='hidden' value='#{org._id}')
  .container.topnav-offset
    .user-settings-header.page-header
      | Settings
    .settings-container
      .left-box
        ul#options
          li.selected(data-val='theme' onclick='settings.nav(event)') 
            | Theme Color
          li.disabled(data-val='welcome' onclick='settings.nav(event)') 
            | Welcome Screen
          li.disabled(data-val='branding' onclick='settings.nav(event)') 
            | Branding
          li.disabled(data-val='policy' onclick='settings.nav(event)') 
            | User Policy
          li.disabled(data-val='follow' onclick='settings.nav(event)') 
            | Who to Follow
          li.disabled(data-val='featured' onclick='settings.nav(event)') 
            | Featured
          li.disabled(data-val='program_code' onclick='settings.nav(event)')
            | Program Code
      .right-box
        h3 Theme Color
        form#theme.settings-form
          h4 Select App Theme Color
          ul.themes
            li.opt
              input#greenTheme.hidden(type='radio' name='theme' value='green')
              label.color.green(for='greenTheme')
            li.opt
              input#pinkTheme.hidden(type='radio' name='theme' value='pink')
              label.color.pink(for='pinkTheme')
            li.opt
              label.color.red(for='redTheme')
              input#redTheme(type='radio' name='theme' value='red')
            li.opt
              input#orangeTheme(type='radio' name='theme' value='orange')
              label.color.orange(for='orangeTheme')
            li.opt
              input#blueTheme(type='radio' name='theme' value='blue')
              label.color.blue(for='blueTheme')
            li.opt
              input#purpleTheme(type='radio' name='theme' value='purple')
              label.color.purple(for='purpleTheme')
            li.opt
              input#blackTheme(type='radio' name='theme' value='black')
              label.color.black(for='blackTheme')
            li
              #selectedTheme.color(class='#{org.theme?org.theme.background_url:"blue"}')
          .buttons
            button.save Save
        form#welcome.settings-form.hidden
          - var background = org.welcome_image_url?'background-image: url("' + org.welcome_image_url + '"); background-size: cover':''

          h4 Upload Image for Welcome Screen
          .welcome-drop(ondragover='settings.drag(event)' 
          ondrop='settings.drop(event)'
          data-preview='welcome-drop'
          style='#{background}' 
          onclick='$("#welcomeFile").click()')
            .instructions(class='#{org.welcome_image_url?"hidden":""}')
              | or drag and drop files onto this window to upload
              br
              | (limit file size to 2MB)
          input#welcomeFile.hidden(type='file' accept='image/*' name='image' data-preview='welcome-drop' onchange='settings.imageChanged(event)')
          .buttons
            button.save(type='submit') Save
        form#branding.settings-form.hidden  
          ul
            li
              label(for='uniqueURL') Unique URL
              input#uniqueURL(type='text' name='namespace' value='#{org.namespace || ""}')
            li
              label(for='reply') Reply to Email Address
              input#replay(type='text' name='reply_to' value='#{org.reply_to || ""}')
            li
              label(for='display') Display Name
              input#display(type='text' name='display_name' value='#{org.display_name || ""}')
          .logo
            h4 Upload Image for Logo in Header
            - var background = org.logo_url?'background-image: url("' + org.logo_url + '"); background-size: cover':''
            div.logo-drop(ondragover='settings.drag(event)' ondrop='settings.drop(event)' style='#{background}' onclick='$("#imageFile").click()' data-preview='logo-drop')
              .instructions(class='#{org.logo_url?"hidden":""}')
                | or drag and drop files onto this window to upload
                br
                | (limit file size to 2MB)
            input#imageFile.hidden(type='file' accept='image/*' name='image' onchange='settings.imageChanged(event)' data-preview='logo-drop')
            .buttons
              button.save(type='submit') Save
        form#follow.settings-form.hidden
          - var plum = org.who_to_follow?org.who_to_follow.luminaries:false;
          - var olum = org.who_to_follow?org.who_to_follow.org_luminaries: false;
          - var lead = org.who_to_follow?org.who_to_follow.leaders: false;
          - var amb = org.who_to_follow?org.who_to_follow.ambassadors: false;
          h4 Select who you want your members to follow:
          ul
            li
              input#prizmLuminaries(type='checkbox' name='follow' value='pl'
              checked=plum?'checked':false)
              .checkbox(onclick='$("#prizmLuminaries").click()')
              label(for='prizmLuminaries') Prizm Luminaries
            li
              input#orgLuminaries(type='checkbox' name='follow' value='ol'
              checked=olum?'checked':false)
              .checkbox(onclick='$("#orgLuminaries").click()')
              label(for='orgLuminaries') Your Organization's Luminaries
            li
              input#leaders(type='checkbox' name='follow' value='l'
              checked=lead?'checked':false)
              .checkbox(onclick='$("#leaders").click()')
              label(for='leaders') Leaders
            li
              input#ambassadors(type='checkbox' name='follow' value='a'
              checked=amb?'checked':false)
              .checkbox(onclick='$("#ambassadors").click()')
              label(for='ambassadors') Ambassadors
          .buttons
            button.save(type='submit') Save
        form#featured.settings-form.hidden
          - var part = org.featured?org.featured.partners:false;
          - var amb = org.featured?org.featured.ambassadors:false;
          - var lum = org.featured?org.featured.luminaries:false;
          - var lead = org.featured?org.featured.leaders:false;
          h4 Select content you want featured in explore:
          ul
            li
              input#featuredPartners(type='checkbox' name='featured' value='p'
              checked=part?'checked':false)
              .checkbox(onclick='$("#featuredPartners").click()')
              label(for='featuredPartners') Partners
            li
              input#featuredAmbassadors(type='checkbox' name='featured' value='a'
              checked=amb?'checked':false)
              .checkbox(onclick='$("#featuredAmbassadors").click()')
              label(for='featuredAmbassadors') Ambassadors
            li
              input#featuredLuminaries(type='checkbox' name='featured' value='pl'
              checked=lum?'checked':false)
              .checkbox(onclick='$("#featuredLuminaries").click()')
              label(for='featuredLuminaries') Luminaries
            li
              input#featuredLeaders(type='checkbox' name='featured' value='l'
              checked=lead?'checked':false)
              .checkbox(onclick='$("#featuredLeaders").click()')
              label(for='featuredLeaders') Leaders
          .buttons
            button.save(type='submit') Save
        form#program_code.settings-form.hidden
          h4 Please enter the program code you would like your members to use:
          ul
            li
              input#programCode(type='text' name ='code' value='#{org.code}')
          .buttons
            button.save(type='submit') Save
