- var ethnicities = ['African-American or Black', 'American Indian or Alaska Native', 'Asian', 'Caucasian or White', 'Hispanic or Latino', 'Native Hawaiian or Other Pacific Islander']
- var religions = ['Anglican (Episcopal)', 'Bahá\'í', 'Buddhist', 'Caodalist', 'Cheondoist', 'Christian', 'Christian Scientist', 'Church of World Messianity', 'Congregationalist (UCC)', 'Disciples of Christ', 'Friend (Quaker)', 'Hindu', 'Jain', 'Jehovah\'s Witness', 'Jewish', 'Latter-day Saint (Morman)', 'Lutheran', 'Methodist', 'Moravian', 'Muslim', 'None', 'Orthodox', 'Other - Non-Christian', 'Pentacostal', 'Presbyterian', 'Rastafari', 'Reformed', 'Roman Catholic', 'Seicho-no-le-ist', 'Seventh Day Adventist', 'Sikh', 'Taoist', 'Unitarian Universalist (UU)', 'Wiccan (Pagan)', 'Yazidi']
- var types = ['community', 'corporate', 'education', 'foundation', 'military']
form
  input#userID(type='hidden' value='#{currentUser._id}')
  ul
    if (currentUser.type == 'institution_verified' || currentUser.type == 'institution')
      - var founded = currentUser.date_founded?new Date(currentUser.date_founded):false
      - var foundedString = founded?founded.getFullYear() + '-' + (founded.getMonth() + 1) + '-' + founded.getDate():false
      li
        label(for='name') Organization
        input#name(type='text' 
        name='name' 
        value='#{currentUser.name || ""}' 
        required='required')
      li
        label(for='info') Info
        textarea#info(name='info') #{currentUser.info}
      li
        label(for='website') Website
        input#website(type='url' name='website' value='#{currentUser.website || ""}'
        )
      li
        label(for='founded') Date Founded
        input#founded(
        type='date'
        name='date_founded' 
        value='#{foundedString || ""}'
        placeholder='yyyy-mm-dd')
      li
        label(for='mascot') Mascot
        input#mascot(type='text' name='mascot' value='#{currentUser.mascot || ""}')
      li
        label(for='population') Population
        input#population(type='text' name='enrollment' value='#{currentUser.enrollment || ""}')
      li
        label(for='email') Email
        input#email(type='email' 
        name='email' 
        value='#{currentUser.email || ""}'
        required='required')
      li
        label(for='zip') Zip Code
        input#zip(type='number' name='zip_postal' value='#{currentUser.zip_postal || ""}')
      li
        label(for='phone') Phone Number
        input#phone(type='tel' name='phone_number' value='#{currentUser.phone_number || ""}')
      li
        label(for='contact_first') Contact First Name
        input#contact_first(
          type='text' 
          name='contact_first' 
          required='required'
          value='#{currentUser.contact_first}')
      li
        label(for='contact_last') Contact Last Name
        input#contact_last(
          type='text'
          name='contact_last'
          required='required'
          value='#{currentUser.contact_last}')
      li
        label(for='contact_email') Contact Email
        input#contact_email(
          type='email' 
          name='contact_email'
          required='required'
          value='#{currentUser.contact_email}')
      li
        #resetPassword(onclick='profile.showPasswordReset(event)') Change Password
    else
      - var birthday = currentUser && currentUser.birthday?currentUser.birthday.split('-'):false;
      - var formattedBirthday = birthday && birthday.length == 3?[String(birthday[2]), String(birthday[0]), String(birthday[1])]:[]
      - if (formattedBirthday && formattedBirthday[1].length == 1) formattedBirthday[1] = '0' + formattedBirthday[1]
      - if (formattedBirthday && formattedBirthday[2].length == 1) formattedBirthday[2] = '0' + formattedBirthday[2]
      - var bdayString = formattedBirthday.join('-')
      - var dateNow = new Date()
      - var earliestDate = new Date(dateNow.getFullYear() - 13, dateNow.getMonth(), dateNow.getDate())
      - var birthdayLimit = earliestDate.getFullYear() + '-' + (earliestDate.getMonth() + 1) + '-' + earliestDate.getDate()
      li
        label(for='first') First Name
        input#first(type='text' 
        name='first_name' 
        value='#{currentUser.first_name || ""}'
        required='required')
      li
        label(for='last') Last Name
        input#last(type='text' 
        name='last_name' 
        value='#{currentUser.last_name || ""}'
        required='required')
      li
        label(for='info') Info
        textarea#info(name='info') #{currentUser.info}
      li
        label(for='website') Website
        input#website(type='url' name='website' value='#{currentUser.website || ""}')
      li
        label(for='email') Email
        input#email(type='email' 
        name='email' 
        value='#{currentUser.email || ""}'
        required='required')
      li  
        label(for='birthday') Date of Birth
        input#month(type='date' 
        name='birthday' 
        value='#{bdayString || ""}'
        placeholder='yyyy-mm-dd'
        max='#{birthdayLimit}'
        required='required')
      li
        label(for='zip') Zip Code
        input#zip(type='number' name='zip_postal' value='#{currentUser.zip_postal || ""}')
      li
        label(for='phone') Phone Number
        input#phone(type='tel' name='phone_number' value='#{currentUser.phone_number || ""}')
      li
        label(for='code') Program Code
        input#code(type='text' name='program_code' value='#{currentUser.program_code || ""}')
      li
        label(for='ethnicity' ) Ethnicity
        select#ethnicity(name='ethnicity')
          option(value='') -
          each e in ethnicities
            option(value='#{e}' selected=String(currentUser.ethnicity)==String(e)?'selected':false) #{e}
      li
        label(for='religion') Religion
        select#religion(name='religion')
          option(value='') -
          each r in religions
            option(value='#{r}' selected=String(currentUser.religion)==String(r)?'selected':false) #{r}
      li
        #resetPassword(onclick='profile.showPasswordReset(event)') Change Password
  input#avatar(type='file' name='avatar' accept='image/*' onchange='profile.uploadAvatar(event)')
  button.save Submit
  button.cancel(type='button' onclick='profile.cancelEdit()') Cancel
