each insight in insights
  - var profilePhoto = insight.creator.profile_photo_url?'https://' + insight.creator.profile_photo_url.substr(7):'/images/default-profile.png'
  - var ownerLink = '/profiles/' + insight.creator._id
  li
    .insight-header
      span.profile-icon(onclick='nav.navigate("#{ownerLink}")'
        style='background-image: url("#{profilePhoto}")'
      )
      span.name(onclick='nav.navigate("#{ownerLink}")')
        | #{insight.creator.name}
      span.archive(onclick='insights.toggleArchive("#{insight._id}", "archive", "new")')
      span.delete(onclick='insights.toggleArchive("#{insight._id}", "reject", "new")')
    .image(onclick='insights.showFullBleed("#{insight._id}")')
      img.lazy(data-original='#{insight.file_path}', alt='insight')
      .hashtags
        each tag in insight.hash_tags
          | #{'#' + tag + ' '}
    .insight-footer(onclick='insights.showFullBleed("#{insight._id}")')
      span.title-wrap
        span.title #{insight.title}
      span.open
          
