extends ../layouts/layout_app

block head
  link(rel='stylesheet' href='/stylesheets/profile/insights.css')
  script(type='text/javascript' src='/javascripts/profile/insights.js')

block content
  input#userId(type='hidden' value='#{currentUser._id}')
  .container.topnav-offset
    .insights-header.page-header
      | Insight
    ul#insightTab.nav.nav-tabs(role='tablist')
      li.active(
        role='presentation' 
        data-toggle='tab'
        onclick='insights.fetchInsights("new")'
        )
        | Inbox
      li(
        role='presentation' 
        data-toggle='tab'
        onclick='insights.fetchInsights("archive")'
        )
        | Archive
    ul#insights
      include insight_feed
