extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile_activity.js' type='text/javascript')
  link(rel='stylesheet' href='/stylesheets/profile/profile_activity.css')

block content
  .container.topnav-offset
    .col-mob-12.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
        ul.nav.nav-tabs.nav-justified(role='tablist' id='members-tab')
          li(role='presentation' class='active')
            a(href='#'
              data-toggle='tab'
              onclick='activity.notificationTab()')
              | Notifications
          li(role='presentation' class='')
            a(href='#'
              data-toggle='tab'
              onclick='activity.requestTab()')
              | Requests
    #notifications
      .col-mob-12.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3.background-column
        table.table.notifications
          tbody
            each notification in notifications
              tr
                td
                  if notification.from
                    if notification.from.profile_photo_url
                      img(src='https://#{notification.from.profile_photo_url.substr(7)}'
                          class='prizm-avatar-sm cursor' 
                          onclick='prizm.showProfile("#{notification.from._id}")')
                    else
                      img(src='/images/default-profile.png' 
                          class='prizm-avatar-sm cursor'
                          onclick='prizm.showProfile("#{notification.from._id}")')
                td
                  .activity-name
                    if notification.from
                        | #{notification.from.name}
                  .activity-action
                    if notification.action == 'like'
                      | liked your post.
                    if notification.action == 'insight'
                      | sent you an insight.
                    if notification.action == 'follow'
                      | started following you.
                    if notification.action == 'comment'
                      | commented on your post.
                    if notification.action == 'group_approved'
                      | approved your membership request.
                td
                  if notification.photo_url
                    img(src='https://#{notification.photo_url.substr(7)}'
                        class='activity-photo')
    #requests
      .col-mob-12.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3.background-column
        table.table
          tbody
            each request in requests
              tr
                td
                  if request.to
                    if request.to.profile_photo_url
                      img(src='https://#{request.to.profile_photo_url.substr(7)}'
                          class='prizm-avatar-sm cursor' 
                          onclick='prizm.showProfile("#{request.to._id}")')
                    else
                      img(src='/images/default-profile.png' 
                          class='prizm-avatar-sm cursor'
                          onclick='prizm.showProfile("#{request.to._id}")')
                td
                  .activity-name
                    if request.to
                      | #{request.to.name}
                  .activity-action
                    | accepted your trust
                td
