mixin groupmenu(groups)
  .group-icon(group='#group1')
  if groups.length > 0
    .group-count #{groups.length}
    .group-menu.hidden
      ul
        each group in groups
          li(group='#{"#" + group.name.toLowerCase()}')
            | #{"#" + group.name.toLowerCase()}

table.table.table-striped.members-table
    thead
      tr
        th
        th
        th
        th
        th
          button.btn.btn-primary.btn-new-member(
            onclick='member.showNewMemberForm("#{organization._id}")') Add New Member
        th
          button.btn.btn-primary.btn-export(
            onclick='csv.showModal()') 
            | Export to CSV
      tr
        th
        th
          span.nameHeader(onclick='members.showNameMenu()' width=160)
            | Name
          #nameMenu.hidden
            ul
              li(onclick='members.activeTab("first_name")') First
              li(onclick='members.activeTab("last_name")') Last
        th
          span.statusHeader(onclick='members.showStatusMenu()')
            | Status
          #statusMenu.hidden
            ul
              li(onclick='members.activeTab()') All
              li(onclick='members.activeTab("ambassador")') Ambassador
              li(onclick='members.activeTab("luminary")') Luminary
              li(onclick='members.activeTab("leader")') Leader
              li(onclick='members.activeTab("member")') Member
        th
          | Group
        th
          span.dateHeader(onclick='members.showDateMenu()')
            | Date
          #dateMenu.hidden
            ul
              li(onclick='members.activeTab("newest")') Newest
              li(onclick='members.activeTab("oldest")') Oldest
        th
          | Action
    tbody
      each member in members
        - var groups = member.org_status.length > 0?member.org_status[0].groups || []:[];
        tr
          td
            if member.subtype == 'ambassador'
              .ambassador-small
            if member.profile_photo_url
              img(src='https://#{member.profile_photo_url.substr(7)}'
                  class='prizm-avatar-sm cursor' 
                  onclick='prizm.showProfile("#{member._id}")')
            else
              img(src='/images/profile/profile_default_avatar.png' 
                  class='prizm-avatar-sm cursor'
                  onclick='prizm.showProfile("#{member._id}")')
          td.cursor(onclick='prizm.showProfile("#{member._id}")')
            | #{member.name}
          td(data='#{member.id}')
            .member-type(onclick='members.toggleAmbassadorMenu(event)'
                         class='#{member.subtype}')
             
              - var role = member.org_status.length>0?member.org_status[0].role:null;
              - var type = member.subtype||role;
              if type == 'ambassador'
                | Ambassador
              else if type == 'luminary'
                | Luminary
              else if role == 'leader'
                | Leader
              else
                | Member
              .ambassador-menu.hidden
                ul
                  li.ambassador(class=type=='ambassador' ? 'selected' : '')
                    a(onclick='members.makeAmbassador(event)') Ambassador
                  li.luminary(class=type=='luminary' ? 'selected' : '')
                    a(onclick='members.makeLuminary(event)') Luminary
                  li.leader(class=role=='leader' ? 'selected':'')
                    a(onclick='members.promoteUser("#{member._id}", "leader")') Leader
                  li.member(class=type==null ? 'selected' :'')
                    a(onclick='members.makeMember(event)') Member
          td
            if groups.length > 0
              .group-button.cursor(options='hasarrow' onclick='members.toggleGroupMenu(event)')
                mixin groupmenu(groups)
            else
              .group-button.cursor
                mixin groupmenu(groups)
             
          td
            | Since #{member.create_date.getMonth() + 1}/#{member.create_date.getDate()}/#{member.create_date.getFullYear()}
          td(data='#{member.id}')
            .member-action.restrict(onClick='members.toggleRestrictMenu(event)')
              .restrict-menu.hidden
                ul
                  if member.visibility != 'restricted'
                    li(action='restrict')
                      | Restrict account
                  else
                    li(action='unrestrict')
                      | Unrestrict account
                  li(action='disable' data-member='#{member.id}')
                    | Disable account
                .restrict.hidden
                  p Are you sure you want to restrict this member?
                  button.btn.btn-default.btn-sm
                    | Cancel
                  btn.btn.btn-primary.btn-sm(onclick='members.restrict("#{member.id}")')
                    | Restrict
                .unrestrict.hidden
                  p Are you sure you want to unrestrict this member?
                  button.btn.btn-default.btn-sm
                    | Cancel
                  btn.btn.btn-primary.btn-sm(onclick='members.unrestrict("#{member.id}")')
                    | Restore 
                .disable.hidden
                  p Are you sure you want to disable this member?
                  button.btn.btn-default.btn-sm
                    | Cancel
                  btn.btn.btn-primary.btn-sm
                    | Disable 
            .member-action.remove(onClick='members.toggleRemoveMenu(event)')
              .remove-menu.hidden
                p Are you sure you want to delete this member?
                button.btn.btn-default.btn-sm(onClick='members.cancelRemove()')
                 | Cancel
                button.btn.btn-primary.btn-sm(onClick='members.remove(event)')
                 | Delete

            .member-action.view(onClick='members.showCard(event)')
include profile_members_card
