extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile_members.js' type='text/javascript')
  link(rel='stylesheet' href='/stylesheets/profile/profile_members.css')

block content
  #organization(data='#{organization.id}')
  .container.topnav-offset
    .row
      .members-header.page-header
        h2 Members
    .row
      .members-tabs
        ul.nav.nav-tabs.nav-justified(role='tablist' id='members-tab')
          li(role='presentation' class='active')
            a(href='#active'
              data-toggle='tab'
              onclick='members.activeTab()')
              | Approved Members
          li(role='presentation' class='')
            a(href='#pending'
              data-toggle='tab'
              onclick='members.pendingTab()')
              | Pending Approval
        input(type="search"
              id="search"
              value=""
              class="form-control"
              placeholder="Find by Name or email")
    .row
      #active-members
        include profile_members_active
      #pending-members(style='display: none')
        include profile_members_pending
