.background-column
  table.table
    tbody
      each request in requests
        tr
          td
            if request.to && String(request.to._id) != String(currentUser._id)
              if request.to.profile_photo_url
                img(src='https://#{request.to.profile_photo_url.substr(7)}'
                    class='prizm-avatar-sm cursor' 
                    onclick='prizm.showProfile("#{request.to._id}")')
              else
                img(src='/images/default-profile.png' 
                    class='prizm-avatar-sm cursor'
                    onclick='prizm.showProfile("#{request.to._id}")')
            if request.from && String(request.from._id) != String(currentUser._id)
              if request.from.profile_photo_url
                img(src='https://#{request.from.profile_photo_url.substr(7)}'
                    class='prizm-avatar-sm cursor' 
                    onclick='prizm.showProfile("#{request.from._id}")')
              else
                img(src='/images/default-profile.png' 
                    class='prizm-avatar-sm cursor'
                    onclick='prizm.showProfile("#{request.from._id}")')
          td
            if request.to && String(request.to._id) != String(currentUser._id)
              .activity-name.cursor(onclick='prizm.showProfile("#{request.to._id}")')
                | #{request.to.name}
            if request.from && String(request.from._id) != String(currentUser._id)
              .activity-name.cursor(onclick='prizm.showProfile("#{request.from._id}")')
                | #{request.from.name}
          td
            .activity-status(class='#{request.status}')
              if request.to && String(request.to._id) != String(currentUser._id)
                if request.status == 'accepted'
                  | Has accepted your request.
                else 
                  | Has recieved your request.
              if request.from && String(request.from._id) != String(currentUser._id)
                if request.status == 'accepted'
                  | Request accepted.
                else
                  | Sent you a request.
          td
            .activity-time
              | #{request.time_since} ago
          td(data-trust-id='#{request._id}')
              if request.from && String(request.from._id) != String(currentUser._id)
                if request.status == 'accepted'
                  .activity-menu.accepted.cursor
                if request.status == 'pending'
                  .activity-menu.accept.cursor(onclick='activity.acceptRequest(event)')
                  .activity-menu.deny.cursor(onclick='activity.denyRequest(event)')
