each user in users
  .col-md-4.col-sm-6.col-xs-12
    .user-card
      .user-info-top
        .user-follow
          button(class='btn btn-sm btn-primary'
                 onClick='reg.followUser(event, "#{user.id}")'
                 data-is-following='false'
                 type='link')
            | Follow
        .user-avatar
          if user.profile_photo_url
            img(src='https://#{user.profile_photo_url.substr(7)}'
                class='prizm-avatar-lg cursor'
                onclick='prizm.showProfile(#{user._id})')
          else
            img(src='/images/profile/profile_default_avatar.png' 
              class='prizm-avatar-lg cursor' 
              onclick='prizm.showProfile("#{user._id}")')
        .user-name.cursor(onclick='prizm.showProfile("#{user._id}")')
          | #{user.name}
        .location-icon
        .user-location
          | #{user.city}
      .user-info-bottom
        .user-circle
          | Followers
          br
          | #{user.followers_count}
        .user-circle
          | Following
          br
          | #{user.following_count}
        .user-circle
          | Posts
          br
          | #{user.posts_count}