extends ../layouts/app_layout

block head
  script(src='/javascripts/profile/profile_home.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')
  link(rel='stylesheet', href='/stylesheets/profile/profile_home.css')

block content
  .container.topnav-offset
    .row
      each post in posts
        - post.external_provider = 'Facebook'
        - post.time_since = '2hrs'
        .col-mob-12.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
          .post(id='#{post.id}')
            .post-header
              img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                  class='prizm-avatar-xs')
              h3
                | #{post.creator.name}
              .time-since
                .clock-icon
                p
                  | #{post.time_since}
              .category-icon(style="background-image: url('/images/icons/#{post.category}_icon.png')")
              if (post.external_provider)
                .post-via
                  | Post Via #{post.external_provider}
            .post-image(onclick='prizm.showModal(event)')
              img(src='https://#{post.file_path.substr(7).replace(".jpg", "_2.jpg")}')
            .post-footer
              .like-icon
              p.icon-text
                | #{post.likes_count}
              .comment-icon(type='button'
                            prizm-data='#{post.id}'
                            onclick='home.toggleComments(event)')
              p.icon-text
                | #{post.comments_count}
              .repost-icon
              .action-icon
              .location-icon
          .comment-drawer(prizm-data='#{post.id}')
            .post-comments
              p.comments-title
                | Comments
            each comment, i in post.comments
              .comment-container
                .post-comments-avatar
                  img(src='https://#{post.comments[i].creator.profile_photo_url.substr(7)}'
                      class='prizm-avatar-xs')
                .avatar-name
                  | #{post.comments[i].creator.name}
                .comment-text
                  | #{post.comments[i].text}
                .comment-info
                  #clock-image
                  #time
                    | #{post.comments[i].time_since} ago
                  .comment-likes
                    | -&nbsp;&nbsp;Like
                  .like-icon
                  .comment-likes-count
                    | #{post.comments[i].likes_count}
            .comments-post
              form(action='/posts/#{post.id}' method='get' class='comment-post')
                label(for='inputComment' class='sr-only')
                input(type='text'
                      id='inputComment'
                      name='comment'
                      class='form-control'
                      placeholder='Write a comment...'
                      required)
                button(class='btn btn-xs btn-default post-button' type='submit')
                  | Post