extends ../layouts/app_layout

block head
  script(src='/javascripts/profile/profile_members.js' type='text/javascript')
  link(rel='stylesheet' href='/stylesheets/profile/profile_members.css')

block content
  .container.topnav-offset
    .row
      .members-header.col-sm-12
        h2 Members
    .row
      .members-tabs.col-sm-8
        ul.nav.nav-tabs.nav-justified(role='tablist' id='members-tab')
          li(role='presentation' class='active')
            a(href='#active'
              data-toggle='tab')
              | Approved Members (#{members.length})
          li(role='presentation' class='')
            a(href='#pending'
              data-toggle='tab')
              | Pending Members
    .row.search
      .col-sm-3.col-sm-offest-5
        input(type="search"
              id="search"
              value=""
              class="form-control"
              placeholder="Search members")
    .row
      #active-members
        include profile_members_active
      #pending-members(style='display: none')
        include profile_members_pending