table.table.table-striped.members-table
    thead
      tr
        th
        th
        th
        th
        th
          button.btn.btn-primary.btn-new-member(
            onclick='members.addMember()') Add New Member
        th
          button.btn.btn-primary.btn-export(
            onclick='nav.navigate("/profile/members/memberexport.csv")') 
            | Export to CSV
      tr
        th
        th
          span.nameHeader(onclick='members.showNameMenu()' width=160)
            | Name
          #nameMenu.hidden
            ul
              li(onclick='members.activeTab("first_name")') First
              li(onclick='members.activeTab("last_name")') Last
        th
          span.statusHeader(onclick='members.showStatusMenu()')
            | Status
          #statusMenu.hidden
            ul
              li(onclick='members.activeTab()') All
              li(onclick='members.activeTab("ambassador")') Ambassador
              li(onclick='members.activeTab("luminary")') Luminary
              li(onclick='members.activeTab("leader")') Leader
              li(onclick='members.activeTab("member")') Member
        th
          | Group
        th
          span.dateHeader(onclick='members.showDateMenu()')
            | Date
          #dateMenu.hidden
            ul
              li(onclick='members.activeTab("newest")') Newest
              li(onclick='members.activeTab("oldest")') Oldest
        th
          | Action
    tbody
      each member in members
        tr
          td
            if member.subtype == 'ambassador'
              .ambassador-small
            if member.profile_photo_url
              img(src='https://#{member.profile_photo_url.substr(7)}'
                  class='prizm-avatar-sm cursor' 
                  onclick='prizm.showProfile("#{member._id}")')
            else
              img(src='/images/profile/profile_default_avatar.png' 
                  class='prizm-avatar-sm cursor'
                  onclick='prizm.showProfile("#{member._id}")')
          td.cursor(onclick='prizm.showProfile("#{member._id}")')
            | #{member.name}
          td(data='#{member.id}')
            .member-type(onclick='members.toggleAmbassadorMenu(event)'
                         class='#{member.subtype}')
              - var type = member.subtype
              if type == 'ambassador'
                | Ambassador
              else if type == 'luminary'
                | Luminary
              else
                | Member
              .ambassador-menu.hidden
                ul
                  li.ambassador(class=type=='ambassador' ? 'selected' : '')
                    a(onclick='members.makeAmbassador(event)') Ambassador
                  li.luminary(class=type=='luminary' ? 'selected' : '')
                    a(onclick='members.makeLuminary(event)') Luminary
                  li.member(class=type==null ? 'selected' :'')
                    a(onclick='members.makeMember(event)') Member
          td
            .group-button.cursor(onclick='members.toggleGroupMenu(event)')
              .group-icon(group='#group1')
              .group-count 3
              .group-menu.hidden
                ul
                  li(group='#group1')
                    | #group1
                  li(group='#group2')
                    | #group2
                  li(group='#group3')
                    | #group3
          td
            | Since #{member.create_date.getMonth() + 1}/#{member.create_date.getDate()}/#{member.create_date.getFullYear()}
          td(data='#{member.id}')
            .member-action.restrict(onClick='members.toggleRestrictMenu(event)')
              .restrict-menu.hidden
                ul
                  li
                    a(href="#restrict") Restrict this account
                  li
                    a(href="#disable") Disable account
            .member-action.remove(onClick='members.toggleRemoveMenu(event)')
              .remove-menu.hidden
                p Are you sure you want to delete this member?
                button.btn.btn-default.btn-sm(onClick='members.cancelRemove()')
                 | Cancel
                button.btn.btn-primary.btn-sm(onClick='members.remove(event)')
                 | Delete

            .member-action.view(onClick='members.showCard(event)')
include profile_members_card
