extends ../layouts/app_layout

block head
  script(src='/javascripts/profile.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')

block content
  .container.topnav-offset
    .row 
      .profile-owner(id='#{user.id}')
      .col-sm-12#profile-header
        if (headerImages.length > 15)
          .background-tile-container
            .background-tile-overlay
            each headerImage, i in headerImages
              if (i < 16)
                .background-tile
                  img(src='https://#{headerImage.substr(7)}')
        .slider-container
          #profile-header-section1.slider
            img(src='https://#{user.profile_photo_url.substr(7)}'
                class='prizm-avatar-md')
            h1 #{user.name}
          #profile-header-section2.slider
            h4 #{user.info}
            h5 #{user.website}
          #profile-header-section3.slider
        .slider-nav
          ul
            li#profile-first.active
            li#profile-middle
    .row.profile-posts-container
        if (posts.length < 1)
          .col-sm-12
            #no-posts
              h2 This profile has not created any posts yet
        else
          include ../posts/post_feed
  div#postModal.modal.fade(
      tabIndex='-1'
      role='dialog'
      aria-labelledby='postModalLabel')
    .modal-dialog.post-modal
      .modal-content.post-modal
        #post-display.modal-body.post-modal
