if (users < 1)
  if (type == 'follower')
    h2 User does not have any followers
  if (type == 'following')
    h2 Users is not current following anyone
else
  each user in users
    .col-md-4.col-sm-6.col-xs-12
      .user-card
        .user-info-top
          .user-follow
            if (String(user._id) != String(authUser._id))
              if (user.isFollowed == true)
                button(class='btn btn-sm btn-primary'
                       onClick='profile.followToggle(event, "#{user.id}")'
                       data-is-following='true'
                       type='link')
                  | Following
              else if (user.isFollowed == false)
                button(class='btn btn-sm btn-primary'
                       onClick='profile.followToggle(event, "#{user.id}")'
                       data-is-following='false'
                       type='link')
                  | Follow
          .user-avatar
            if user.profile_photo_url
              img(src='https://#{user.profile_photo_url.substr(7)}'
                  class='prizm-avatar-lg cursor'
                  onclick='prizm.showProfile("#{user._id}")')
            else
              img(src='/images/profile/profile_default_avatar.png' 
                class='prizm-avatar-lg cursor' 
                onclick='prizm.showProfile("#{user._id}")')
          .user-name.cursor(onclick='prizm.showProfile("#{user._id}")')
            | #{user.name}
          .user-location
            | #{user.city}
        .user-info-bottom
          .user-circle
            | Followers
            br
            | #{user.followers_count}
          .user-circle
            | Following
            br
            | #{user.following_count}
          .user-circle
            | Posts
            br
            | #{user.posts_count}