mixin profileInfo
  ul
    li.cursor(onClick='profile.displayFollowers()')
      | Followers
      | <br>
      strong
        | #{user.followers_count}
    li.cursor(onClick='profile.displayFollowing()')
      | Following
      | <br>
      strong
        | #{user.following_count}
    li.cursor(onClick='profile.displayPosts()')
      | Posts
      | <br>
      strong
        | #{user.posts_count}

extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')

block content
  .container.topnav-offset
      .profile-owner(id='#{user.id}')
      if organization
        .organization(id='#{organization.id}')
      #profile-header
        if (headerImages.length > 15)
          .background-tile-container
            .background-tile-overlay
            each headerImage, i in headerImages
              if (i < 14)
                .background-tile(
                  style="background-image:url('https://#{headerImage.substr(7)}')"
                  )
        .slider-container
          .slider
            if user.profile_photo_url
              img(src='https://#{user.profile_photo_url.substr(7)}'
                  class='prizm-avatar-md')
            else 
              img(src='/images/profile/profile_default_avatar.png' class='prizm-avatar-md')
            if organization
              h1 #{organization.name}
              h4 #{user.city}, #{user.state}
            else
              h1 #{user.name}
          .slider
            h4 #{user.info}
            h5 #{user.website}
          .slider
            if organization
              .luminary-icon
                p
                  | Luminary
              - var defaultImage = '/images/profile/profile_default_avatar.png'
              - for (var i = 0; i < 3; i++)
                  .luminary-card
                    img(src=luminaries[i] ? 'https://#{luminaries[i].profile_photo_url.substr(7)}' : defaultImage
                        class='prizm-avatar-md')
                    h4
                      if (luminaries[i])
                        | #{luminaries[i].name}
                      else
                        | &nbsp;
        .slider-nav
          ul
            li.active(onClick='profile.slideHeader(event, 0)')
            li(onClick='profile.slideHeader(event, 1)')
            if organization
              li(onClick='profile.slideHeader(event, 2)')
      .profile-info
        if showMembers
          .toggle-container(data-toggle='off' 
                            id='membersToggle'
                            onClick='profile.toggleMembersPosts()')
            .toggle-switch
          .toggle-label
            | Members
          mixin profileInfo
        else
          mixin profileInfo
      #profileEdit.profile-edit-container(hidden = !edit)
        include edit
      .profile-posts-container.infinite_feed(hidden = edit)
        if (posts.length < 1)
          .col-sm-12
            h2 This profile has not created any posts yet
        else
          include ../posts/post_feed
      .members-posts-container
        h2 Members have not created any posts yet.
      .profile-followers-container
      .profile-following-container
  div#postModal.modal.fade(
      tabIndex='-1'
      role='dialog'
      aria-labelledby='postModalLabel')
    .container.no-padding
      .modal-dialog
        .modal-content
          #post-display.modal-body
