each post in posts
  li.post(id='#{post.id}' data-date='#{post.create_date.toISOString()}') 
            .post-header
              .cursor.profile-image(
                style="background-image:url(#{post.creator.profile_photo_url || '/images/profile/profile_default_avatar.png'})"
                 onclick='prizm.showProfile("#{post.creator._id}")'
              )
              h3.cursor(onclick='prizm.showProfile("#{post.creator._id}")')
                | #{post.creator.name}
              .time-since
                .clock-icon
                p
                  | #{post.time_since}
              .category-icon(style="background-image: url('/images/icons/#{post.category}_icon.png')")
              if (post.external_provider)
                .post-via
                  | Post via #{post.external_provider.charAt(0).toUpperCase() + post.external_provider.slice(1)}
            .post-image(onclick='home.toggleComments(event)' prizm-data='#{post.id}')
              img.lazy(data-original='#{post.file_path}' prizm-data='#{post.id}')
            .post-footer
              .bar-section
                if post.ownPost 
                  .like-icon.not-liked
                    | #{post.likes_count > 0?post.likes_count:''}
                else
                  if post.liked
                    .like-icon.liked.cursor(onclick='profile.unlikePost("#{post._id}", event)')
                      | #{post.likes_count > 0?post.likes_count:''}
                  else
                    .like-icon.not-liked.cursor(onclick='profile.likePost("#{post._id}", event)')
                      | #{post.likes_count > 0?post.likes_count:''}
              .bar-section
                .comment-icon(type='button'
                            class='cursor'
                            prizm-data='#{post.id}'
                            onclick='home.toggleComments(event)')
                   | #{post.comments_count > 0?post.comments_count:''}
                 
              .repost-icon.bar-section
              .action-icon.bar-section
              .location-icon.bar-section
            .comment-drawer(prizm-data='#{post.id}')
              .post-comments
                p.comments-title
                  | Comments
              if post.text
                .comment-container
                  .post-modal-avatar.post-comments-avatar
                    if post.creator.profile_photo_url
                      img(src='#{post.creator.profile_photo_url}'
                          class='prizm-avatar-xs'
                          onclick='prizm.showProfile("#{post.creator._id}")')
                    else
                      img(src='/images/profile/profile_default_avatar.png'
                          class='prizm-avatar-xs'
                          onclick='prizm.showProfile("#{post.creator._id}")')
                  .avatar-name.cursor(onclick='prizm.showProfile("#{post.creator._id}")')
                    | #{post.creator.name}
                  .comment-text
                    | !{post.formattedText}
                  .comment-info
              each comment, i in post.comments
                .comment-container
                  .post-modal-avatar.post-comments-avatar
                    if post.comments[i].creator.profile_photo_url
                      img(src='#{post.comments[i].creator.profile_photo_url}'
                          class='prizm-avatar-xs'
                          onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
                    else
                      img(src='/images/profile/profile_default_avatar.png' 
                          class='prizm-avatar-sm'
                          onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
                  .avatar-name.cursor(onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
                    | #{post.comments[i].creator.name}
                  .comment-text
                    | !{post.comments[i].formattedText}
                  .comment-info
                    span.clock-icon
                    span#time
                      | #{post.comments[i].time_since} ago
                    span.comment-likes
                      | -&nbsp;&nbsp;Like
                    span.like-icon.liked
                    span.comment-likes-count
                      | #{post.comments[i].likes_count}
              .comments-post
                form(action='/posts/#{post.id}' method='get' class='comment-post')
                  label(for='inputComment' class='sr-only')
                  input(type='text'
                        id='inputComment'
                        name='comment'
                        class='form-control'
                        placeholder='Write a comment...'
                        onkeypress='profile.overrideEnter(event)'
                        required)
                  a.cursor(class='btn btn-xs btn-default post-button' onclick='profile.postComment("#{post._id}", event )')
                    | Post
