.col-sm-10.col-sm-offset-1
  table.table.table-striped.members-table
    thead
      tr
        th
        th
        th
        th
        th
          input(type="search"
                id="search"
                value=""
                class="form-control"
                placeholder="Find by Name or email")
      tr
        th.col-sm-1
        th
          | Name
        th
          | Status
        th
          | Date
        th.col-sm-4
          | Action
    tbody
      each member in members
        tr
          td
            img(src='https://#{member.profile_photo_url.substr(7)}'
                class='prizm-avatar-sm')
          td
            | #{member.name}
          td
            | Member
          td
            | Since #{member.create_date.getMonth() + 1}/#{member.create_date.getDate()}/#{member.create_date.getFullYear()}
          td(data='#{member.id}')
            .member-action.restrict
              .restrict-menu.hidden
                ul
                  li
                    a(href="#restrict") Restrict this account
                  li
                    a(href="#disable") Disable account
            .member-action.remove(onClick='members.remove(event)')
            .member-action.view(onClick='members.showCard(event)')
include profile_members_card