extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile_home.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')
  link(rel='stylesheet', href='/stylesheets/profile/profile_home.css')

block content
  .container.topnav-offset
    ul#feed.row
      each post in posts
        li.col-mob-12.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3.background-column 
          .post(id='#{post.id}')
            .post-header
              if post.creator.profile_photo_url
                img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                    class='prizm-avatar-xs')
              else
                img(src='/images/profile/profile_default_avatar.png' 
                    class='prizm-avatar-sm')
              h3
                | #{post.creator.name}
              .time-since
                .clock-icon
                p
                  | #{post.time_since}
              .category-icon(style="background-image: url('/images/icons/#{post.category}_icon.png')")
              if (post.external_provider)
                .post-via
                  | Post Via #{post.external_provider}
            .post-image(onclick='prizm.showModal(event)')
              img.lazy(data-original='https://#{post.file_path.substr(7).replace(".jpg", "_2.jpg")}')
            .post-footer
              .like-icon
              p.icon-text
                | #{post.likes_count}
              .comment-icon(type='button'
                            class='cursor'
                            prizm-data='#{post.id}'
                            onclick='home.toggleComments(event)')
              p.icon-text
                | #{post.comments_count}
              .repost-icon
              .action-icon
              .location-icon
            .comment-drawer(prizm-data='#{post.id}')
              .post-comments
                p.comments-title
                  | Comments
              if post.text
                .comment-container
                  .post-comments-avatar
                    if post.creator.profile_photo_url
                      img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                        class='prizm-avatar-xs')
                    else
                      img(src='/images/profile/profile_default_avatar.png'
                        class='prizm-avatar-xs')
                  .avatar-name
                    | #{post.creator.name}
                  .comment-text
                    | !{post.formattedText}
                  .comment-info
                    #clock-image
                    #time
                      | #{post.time_since} ago
                    .comment-likes
                      | -&nbsp;&nbsp;Like
                    .like-icon
                    .comment-likes-count
                      | #{post.likes_count}
              each comment, i in post.comments
                .comment-container
                  .post-comments-avatar
                    if post.comments[i].creator.profile_photo_url
                      img(src='https://#{post.comments[i].creator.profile_photo_url.substr(7)}'
                          class='prizm-avatar-xs')
                    else
                      img(src='/images/profile/profile_default_avatar.png' 
                          class='prizm-avatar-sm')
                  .avatar-name
                    | #{post.comments[i].creator.name}
                  .comment-text
                    | !{post.formattedText}
                  .comment-info
                    #clock-image
                    #time
                      | #{post.comments[i].time_since} ago
                    .comment-likes
                      | -&nbsp;&nbsp;Like
                    .like-icon
                    .comment-likes-count
                      | #{post.comments[i].likes_count}
              .comments-post
                form(action='/posts/#{post.id}' method='get' class='comment-post')
                  label(for='inputComment' class='sr-only')
                  input(type='text'
                        id='inputComment'
                        name='comment'
                        class='form-control'
                        placeholder='Write a comment...'
                        required)
                  button(class='btn btn-xs btn-default post-button' type='submit')
                    | Post
