extends ../layouts/app_layout

block head
  script(src='/javascripts/profile.js' type='text/javascript')

block content
  #profile-block.full-width.gray-font
    .wrap-profile
      .profile-owner(id='#{user.id}')
      #profile-header(style="background-image: url('/images/profile_header.png')")
        if (headerImages.length > 15)
          #image-header-overlay
          #image-header
            each headerImage, i in headerImages
              if (i < 16)
                .background-tile(style='background-image: '
                + 'url(\'https://#{headerImage.substr(7)}\')')
        .slider-container
          #profile-header-section1.slider
            #avatar-header
              img(src='https://#{user.profile_photo_url.substr(7)}')
            h2.profile-name
              | #{user.name}
          #profile-header-section2.slider
            p.profile-info
              | #{user.info}
            p.profile-website
              | #{user.website}
          #profile-header-section3.slider
        .slider-nav
          ul
            li#profile-first.active
            li#profile-middle
      #profile-posts
        if (posts.length < 1)
          #no-posts
            h2 This profile has not created any posts yet
        else
          include ../posts/post_feed
  div(class='modal fade'
      id='postModal'
      tabIndex='-1'
      role='dialog'
      aria-labelledby='postModalLabel')
    .modal-dialog.post-modal
      .modal-content.post-modal
        #post-display.modal-body.post-modal
