extends ../layouts/app_layout

block head
  script(src='/javascripts/profile.js' type='text/javascript')

block content
  #members-block.full-width.gray-font
    .row
      .members-header.col-lg-12
        h2 Members
    .row.members-tabs
      ul.nav-tabs.col-lg-6
        li(role='presentation' class='active col-lg-3')
          | Approved Members ()
        li(role='presentation' class='col-lg-3')
          | Pending Members
    .row.search
      .col-lg-3.col-lg-offest-5
        input(type="search"
              id="search"
              value=""
              class="form-control"
              placeholder="Search members")
    .row
      .col-lg-8
        table.members-table
          thead
            tr
              th
                | Name
              th
                | Status
              th
                | Date
              th
                | Action
          tbody
            each member in members
              tr
                th
                  | #{member.name}
                th
                  | #{member.org_status}
                th
                  | #{member.create_date}
                th
                  | Various Actions



