div(class='modal fade'
    id='memberCard'
    tabIndex='-1'
    role='dialog'
    aria-labelledby='memberCardLabel')
  .modal-dialog.member
    .modal-content
      .modal-body
        each member in members
          .member-card.hidden(data='#{member.id}')
            .front-member
              .member-info-top
                .card-icon.cursor(onclick='members.showCardBack()')
                .member-avatar
                  if (member.profile_photo_url)
                    img(src='https://#{member.profile_photo_url.substr(7)}'
                        class='prizm-avatar-lg')
                  else
                    img(src='/images/default-profile.png' class='prizm-avatar-sm'
                      onclick='profile.showProfile("#{member._id}")
                .member-name
                  | #{member.name}
                .member-email
                  | #{member.email}
                .member-birthday
                  | DOB:
                  strong
                    |  #{member.birthday}
                .member-location
                  | #{member.city}
                .member-phone
                  if member.phone_number
                    | &nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
                    | #{member.phone_number}
              .member-info-bottom
                .member-circle
                  | Followers
                  br
                  | #{member.followers_count}
                .member-circle
                  | Following
                  br
                  | #{member.following_count}
                .member-circle
                  | Posts
                  br
                  | #{member.posts_count}
                p.last-login-date
                  if member.last_login_date
                    | Last logged in on #{member.last_login_date.toString().substr(0, 15)}
                  else
                    | Last logged in on #{member.modify_date.toString().substr(0, 15)}
            .back-member.hidden
              .interests-header
                .card-icon(onclick='members.showCardFront()')
                h2 Interests
              .interests-container
                ul
                  each interest in member.interests
                    if interest
                      li.interests
                        | #{interest.text}

