mixin legal
  .footer
    .container
      .row
        .col-mob-12
          .legal
            span.social
              span#follow-prizm FOLLOW PRIZM
              a#facebook.contact-button(href='https://www.facebook.com/prizmapp')
              a#twitter.contact-button(href='https://www.twitter.com/beprizmatic')
              a#instagram.contact-button(href='https://www.instagram.com/beprizmatic')
            span.legal-span
              | Copyright &copy; 2014 Prizm Powered by
              a.underline(href='http://www.higheraltitude.co') Higher Altitude, Inc.
              | - 
              a.underline(href='/privacy') Privacy Policy
              | -
              a.underline(href='/terms') Terms of Service
              | -
              a.underline(href='http://www.prizmapp.desk.com') Support
            span.mixpanelbadge
              a(href='https://mixpanel.com/f/partner')
                img(src='//cdn.mxpnl.com/site_media/images/partner/badge_light.png'
                    alt='Mobile Analytics')
                script(src='//static.getclicky.com/js'
                       type='text/javascript')
                script(type='text/javascript').
                  try { 
                   clicky.init(100784552)
                   } catch(e){}
                noscript
                  p
                    img(alt='Clicky' width='1' height='1'
                        src='//in.getclicky.com/100784552ns.gif')
mixin userMenu
  .user-menu
    ul
      li
        a(href='/profile') View Profile
      li
        a(href='/profile?edit=true') Edit Profile
      li
        a(href='/profile/settings') Settings
      li
        a(href='/logout') Log Out
doctype html
html
  head
    title Prizm #{title?'| ' + title:''}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme-prizm.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/layout/layout_app.css')
    link(rel='stylesheet', href='/stylesheets/login/login.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
    link(rel='apple-touch-icon-precomposed' href='/images/appicon.png' sizes='60x60')
    script(src='/javascripts/ha_modal.js' type='text/javascript')
    script(src='//use.typekit.net/byp7noq.js' type='text/javascript')
    script(src='/javascripts/jquery-1.11.1.min.js' type='text/javascript')
    script(src='/javascripts/jquery-ui-1.11.1.min.js' type='text/javascript')
    script(src='/javascripts/jquery.lazyload.min.js' type='text/javascript')
    script(src='/javascripts/prizm.js' type='text/javascript')
    script(src='/javascripts/bootstrap.min.js' type='text/javascript')
    script(src='/javascripts/layout/layout_app.js' type='text/javascript')
    script(type='text/javascript' src='/javascripts/upload.js')
    meta(name='viewport' 
         content='width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0')
    meta(name='apple-itunes-app'
         content='app-id=903458597, app-argument=prizmapp://open')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-stle' content='black-translucent')

    block head
    
  body(id='#{bodyId}')
    .overlay(onclick='nav.toggleSettings()')
    #activityBar
      span.activity You have received a new Activity
    block navbar
      .navbar
        .container
          if (auth)
            .menu-icon(onclick='nav.toggleSettings()')
          span.navbar-title.cursor(onclick='nav.goToHomeFeed()')
            | Prizm
          if (auth)
            .plus-icon.cursor(onclick='action.showMenu()')
              .plus-menu.hidden
                if currentUser.type == 'institution_verified'
                  ul#menuItems
                    li(onclick='post.showNewPostForm()')
                      span Post
                    li(onclick='group.showNewGroupForm()')
                      span Group
                    li(onclick='nmessage.showNewMessageForm()')
                      span Message
                    li(onclick='insight.showNewInsightForm()')
                      span Insight
                    li(onclick='survey.showNewSurveyForm()')
                      span Survey
                    li
                      span Event
                    li(onclick='notification.showNewNotificationForm()')
                      span Notification
                if currentUser.isLeader
                  ul#menuItems
                    li(onclick='post.showNewPostForm()')
                      span Post
                    li(onclick='group.showNewGroupForm()')
                      span Group
            .avatar-menu
              if (auth)
                  if currentUser.profile_photo_url
                    img(src='#{currentUser.profile_photo_url}'
                        class='prizm-avatar-xs'
                        onclick='nav.toggleMenu(event)')
                  else
                    img(src='/images/profile/profile_default_avatar.png'
                        class='prizm-avatar-xs'
                        onclick='nav.toggleMenu(event)')
                  .tool-tip(onclick='nav.toggleMenu(event)')
                  mixin userMenu
              else
                .avatar-menu
                    .login-button.cursor
                      a(type='button'
                        data-toggle='modal'
                        data-target='#loginModal')
                        | Login
      //  Begin Login Modal
      div(class='modal fade'
          id='loginModal'
          tabIndex='-1'
          role='dialog'
          aria-labelledby='loginModalLabel')
        .modal-dialog
          .modal-content
            .modal-body
              include ../login/login_form
      // End Login Modal
      // Begin New Post Modeal
      //include ../posts/post_create
      // End New Post Modal
    block content

    block settings
      if (auth)
        .settings
          .settings-avatar-wrap
            .settings-avatar-menu
              - var photo = currentUser.profile_photo_url || '/images/default-profile.png'

              img(src='#{photo}'
                class='prizm-avatar-xs'
                onclick='nav.toggleMenu(event)')
              p(onclick='nav.toggleMenu(event)')
                span.name-wrap
                  span.name #{currentUser.name}
                .settings-tool-tip(onclick='nav.toggleMenu(event)')
              mixin userMenu
          .settings-menu
            ul
              li.item(
                class="#{title == 'Home'?'selected':''}"
                onclick='nav.navigate("/")'
                )
                .home-button.settings-icon Home
              li.item(
                  class="#{title == 'Activity'?'selected':''}"
                  onclick="nav.navigate('/profile/activity')"
                )
                .activity-button.settings-icon Activity
              li.item(
                class="#{title == 'Explore'?'selected':''}"
                onclick="nav.navigate('/profile/explore')"
                )
                .explore-button.settings-icon Explore 
              li.item(
                class="#{title == 'Insights'?'selected':''}"
                onclick="nav.navigate('/profile/insights')"
                )
                .insights-button.settings-icon Insight
            if (currentUser.type == 'institution_verified')
              ul.extended 
                li
                  .settings-header Admin
                li.item(
                  class="#{title == 'Message'?'selected:''}"
                  onclick="nav.navigate('/messages')"
                )
                  .settings-icon.message-button Message
                li.item(
                  class="#{title == 'Calendar'?'selected:''}"
                  onclick="nav.navigate('/profile')"
                  )
                  .settings-icon.calendar-button Calendar
                li.item(
                  class="#{title == 'Survey'?'selected':''}"
                  onclick="nav.navigate('/surveys')"
                  )
                  .settings-icon.surveys-button Survey
                li.item(
                  class="#{title == 'Stats'?'selected':''}"
                  onclick="nav.navigate('/profile')"
                  )
                  .stats-button.settings-icon Stats
                li.item(
                  class="#{title == 'Settings'?'selected':''}"
                  onclick="nav.navigate('/organizations/settings')"
                  )
                  .settings-icon.settings-button Settings
                li.item(class='#{title == "Notifications"?"selected":""}'
                  onclick='nav.navigate("/notifications")')
                  .notifications-button.settings-icon Notifications
                li.item(
                  class="#{title == 'Members'?'selected':''}"
                  onclick="nav.navigate('/profile/members')"
                  )
                  .members-button.settings-icon Members
                li.item(
                  class="#{title == 'Billing'?'selected':''}"
                  onclick="nav.navigate('/register')"
                  )
                  .billing-button.settings-icon Billing
                li.item(
                  class="#{title == 'Invite'?'selected':''}"
                  onclick="nav.navigate('/profile')"
                  )
                  .invite-button.settings-icon Invite
            else
              each org in currentUser.org_status
                if org.status == 'active'
                  ul.extended 
                    li
                      .settings-header #{org.organization.name}
                    li.item(
                      class="#{title == 'Message'?'selected':''}"
                      onclick="nav.navigate('/profile/messages/#{org.organization._id}')"
                      )
                      .settings-icon.message-button Message
                    li.item(
                      class="#{title == 'Calendar'?'selected':''}"
                      onclick="nav.navigate('/profile')"
                      )
                      .settings-icon.calendar-button Calendar
                    li.item(
                      class="#{title == 'Survey'?'selected':''}"
                      onclick="nav.navigate('/profile')"
                      )
                      .settings-icon.surveys-button Survey
    mixin legal
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59083522-1', 'auto');
      ga('send', 'pageview');
