.create-overlay(onclick='modal.cancel(event)')
  #newGroupForm.create-form
    if edit
      .header
        | Edit Group
    else
      .header
        | Create Group
    form#newGroup(data-action=edit?'update':'create')
      - var groupName = group?group.name:''
      - var groupDescription = group?group.description:''
      if (group)
        input#groupID(type='hidden' value='#{group._id}')
      input#selectedOrganization(type='hidden' value='#{organization._id}')
      .row
        label(for='name') Group Name
        input#name(type='text' name='name' value='#{groupName}')
      .row
        label(for='leader') Group Leader
        select#Leader.name(name='leader' disabled=leader?'disabled':false)
          option(value='') - 
          each l in leaders
            - var preLeader = group?String(group.leader) == String(l._id):false
            option(value='#{l._id}' selected=preLeader) #{l.name}  
      .row
        label(for='description') Group Description
        textarea(id='description' name='description') #{groupDescription}
      .row
        label(for='members') Group Members
        div.selectArea          
          input#memberFilter(type='text' onkeyup='group.filterMembers(event)' placeholder='Search by member')
          .members-container.options
            each member in members
              div.option.cursor(onclick='group.selectRadio(event)')
                .profile-icon.cursor(style="background-image: url('#{member.profile_photo_url}')")
                .content
                  span.name #{member.name} 
                  - var gLeader = group?String(member._id) == String(group.leader):false
                  if String(member._id) == String(leader) || gLeader 
                    input.members.hidden(type='checkbox' name='members' id='#{member._id}' value='#{member._id}' checked='checked') 
                  else
                    input.members.hidden(type='checkbox' name='members' id='#{member._id}' value='#{member._id}' checked=member.inGroup) 
                  label(for='#{member._id}') 
      .row
        button.cancel(type='button' onclick='modal.cancel()') Cancel
        button.save(type='submit' disabled='disabled') Save
