.create-overlay(onclick='modal.cancel(event)')
  #newGroupForm.create-form
    .header
      | Create Group
    form#newGroup
      input#selectedOrganization(type='hidden' value='#{organization._id}')
      .row
        label(for='name') Group Name
        input#name(type='text' name='name')
      .row
        label(for='leader') Group Leader
        select#Leader.name(name='leader' disabled=leader?'disabled':false)
          option(value='') - 
          each l in leaders
            option(value='#{l._id}' selected=String(leader)==String(l._id)?'selected':false) #{l.name}  
      .row
        label(for='description') Group Description
        textarea(id='description' name='description')
      .row
        label(for='members') Group Members
        div.selectArea          
          input#memberFilter(type='text' onkeyup='group.filterMembers(event)' placeholder='Search by member')
          .members-container
            each member in members
              - var creatorPhoto = member.profile_photo_url?'https://' + member.profile_photo_url.substr(7):'/images/default-profile.png'
              div.option.cursor(onclick='group.selectRadio(event)')
                .profile-icon.cursor(style="background-image: url('#{creatorPhoto}')")
                .content
                  span.name #{member.name} 
                  if String(member._id) == String(leader)
                    input.members.hidden(type='checkbox' name='members' id='#{member._id}' value='#{member._id}' checked='checked') 
                  else
                    input.members.hidden(type='checkbox' name='members' id='#{member._id}' value='#{member._id}') 
                  label(for='#{member._id}') 
      .row
        button.cancel(type='button' onclick='modal.cancel()') Cancel
        button.save(type='submit' disabled='disabled') Save
