.create-overlay(onclick='modal.cancel(event)')
  #newInsightForm.create-form
    h2 Create an Insight
    if(!insight)
      form#newInsight
        input#creator(type='hidden' name='creator' value='')
        input#title(type='text' placeholder='Title' name='title')
        input#image.hidden(type='file' name='image' accept='image/*' onchange='insight.imageChanged(event)')
        #imageContainer
        textarea#text(placeholder='Text' name='text')
        input#url(type='text' placeholder='URL' name='link')
        input#hashtags(type='text' placeholder='Hashtags' name='hash_tags')
        .section.buttons
          button.cancel(onclick='modal.cancel()') Cancel
          button.save.next Next
    else
      form#sendInsight
        #previewImage(style='background-image: url("#{insight.file_path}")')
        input#insightID(type='hidden' name='insight_id' value='#{insight._id}')
        input#subject(type='text' name='subject' placeholder='Email Subject Line')
        .selectArea
          input#filter(type='text' onkeyup='insight.filterGroup(event)' placeholder='Choose groups to target.')
          .options
            .option(onclick='insight.selectRadio(event)')
              .content
                span.name All Groups
                input#all.hidden(type='checkbox' 
                  name='groups' 
                  value=false 
                  checked='checked')
                label(for='all')
            each group in organization.groups
              .option.cursor(onclick='insight.selectRadio(event)')
                .content
                  span.name #{group.name}
                  input.hidden(type='checkbox'
                    name='groups',
                    value='#{group._id}',
                    id='#{group._id}')
                  label(for='#{group._id}')
        .section.buttons
          button.cancel(onclick='modal.cancel()') Cancel
          button.save Send
