mixin questions(n, original)
  - var question = original && original.questions.length >= n?original.questions[n - 1]:false
  - var type = question?question.type:''
  li
    label(for='question') Question #{n}
    input#question(
      name='questions' 
      type='text' 
      value='#{question?question.text:""}')
  li
    label(for='type') Type
    select#type(name='type' onchange='survey.changeQuestionType(event)')
      option(value='scale'
        selected=type=='scale'?'selected':false) Scale
      option(value='multiple'
        selected=type=='multiple'?'selected':false) Multiple
  if type == 'multiple'
    li.multiple
      label('for', 'answerCount') Answers
      select#answerCount
        - var i = 0;
        while i < 5
          - var va = question.values.length;
          option(value=(i + 1), selected=va==(i + 1)?'selected':false) #{i+1}
          - ++i
    each v in question.values
      li.choice
        label(for='choice#{v.order}') #{v.order}.
        input(type='text' name='values' value='#{v.question}')
  else
    li.scale
      - var scale = question?question.scale:5
      label(for='scale') Scale
      select#scale(name='scale')
        option(value=5 selected=scale==5?'selected':false) 5
        option(value=10 selected=scale==10?'selected':false) 10

mixin buttons(s, n, original)
  .buttons.section
    button.cancel(type='button' onclick='modal.cancel()') Cancel
    - var dis= 'disabled'
    if s == 'Next'
      if (n && original) 
        if (original.questions.length <= n)
          - dis = false
    button.save(disabled=dis) #{s}


.create-overlay(onclick='modal.cancel(event)')
  #newSurveyForm.create-form
    if(!survey)
      h2 Create Survey
      form#newSurvey
        input#organizationID(type='hidden' value='#{organization._id}')
        input#originalID(type='hidden' value='#{original? original._id : ""}')
        ul
          li
            label(for='name') Survey Name
            input#name(type='text' name='name')
          li
            - var num = original?original.number_of_questions:1
            - var i = 1
            label(for='number') Number of Questions
            select#number(name='number_of_questions')
              while i < 6
                option(value=i selected=num==i?'selected':false) #{i}
                - i++
          mixin questions(1, original)
        mixin buttons('Next')
    else if (survey.questions.length != survey.number_of_questions)
      h2 Create Survey
      form#newSurvey.question
        input#surveyID(type='hidden' value='#{survey._id}')
        - var questionNumber = survey.questions.length + 1
        input#questionNumber(type='hidden' 
        name='order' 
        value='#{questionNumber}')
        ul
          mixin questions(questionNumber, original)
        mixin buttons('Next', questionNumber, original)
    else
      h2 Publish Survey
      form#newSurvey.publish
        input#surveyID(type='hidden' value='#{survey._id}')
        p
          | Send survey to a group or to all members
        .selectArea
          input#filter(type='text' onkeyup='insight.filterGroup(event)' placeholder='Choose groups to target.')
          .options
            .option(onclick='insight.selectRadio(event)')
              .content
                span.name All Groups
                input#all.hidden(type='checkbox' 
                  name='groups' 
                  value=false 
                  checked='checked')
                label(for='all')
            each group in organization.groups
              if group.status == 'active'
                .option.cursor(onclick='insight.selectRadio(event)')
                  .content
                    span.name #{group.name}
                    input.hidden(type='checkbox'
                      name='groups',
                      value='#{group._id}',
                      id='#{group._id}')
                    label(for='#{group._id}')
        mixin buttons('Publish')
