html
  head
    body(style="background-color: #eef0f4; text-align: center; font-family: 'Helvetica', 'Arial', sans-serif; color: #47494d; font-size: 16px")
      table(style='width: 670px; margin: 0 auto; border-collapse: collapse')
        tr(style='background-color:#ffffff; text-align: left')
          td(style='height: 88px; border-bottom: #dde3f1;')
            div(style='height: 88px; width: 100%; border-bottom: 1px solid #dde3f1;')
              - var prizm_style = 'margin-top: 22px; height: 47px; width: 116px; margin-left: 20px;'
              if org.owner.type == 'institution_verified'
                - prizm_style = 'margin-top: 22px; height: 47px; width: 116px; margin-right: 20px; float: right'
                - var logo = org.logo_url || org.owner.profile_photo_url
                - var r = new RegExp('https:/s');
                - logo = logo.replace(r, 'https://s');
                
                img(src='#{logo}' style='height: 37px; width: 37px; margin-left: 20px; float: left; border-radius: 50%; margin-top: 27px ')
                h3(style='float: left; height: 47px; margin-top: 27px; line-height: 42px; vertical-align: center; margin-bottom: 0; padding: 0; margin-left: 7px; font-size: 18px; font-weight: 300;') #{org.name}
              img(src='https://www.prizmapp.com/images/logo.png' alt='Prizm'
                style='#{prizm_style}')
        tr(style='background-color: #ffffff;')
          td(style='padding: 30px; text-align: left;')
            p(style='font-size: 16px')
              | #{org.name} just invited you to their Prizm. This is an app for 
              | privately communicating and sharing with friends and leaders from
              | your organization.
            p(style='font-size: 16px')
              | Please use program code 
              strong #{invite.code} 
              | when you register so that you can be linked with everyone 
              | from #{org.name}.
            p(style='font-size: 16px')
              br
              br
              a(href="https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8" style='font-size: 18px; text-decoration: none')
                img(src="https://www.prizmapp.com/images/app_store.png" width=150) 
              br
              br
              a(href="https://www.prizmapp.com/login" style='font-size: 18px; text-decoration: none')
                img(src="https://www.prizmapp.com/images/google.png" width=150)
              br
              br
            p(style='font-size: 16px')
              | - The Prizm Team
        tr(style='background-color: #ffffff')
          td(style='text-align: center; padding: 20px;')
            p(style='font-size: 14px; color: #25689a;') FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp'
            style='text-decoration: none')
              img(src='http://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px;'
              alt='Facebook')
            a(href='https://www.twitter.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px;'
              alt='Twitter')
            a(href='https://www.instagram.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px;'
              alt='Instagram') 
        tr(style='background-color: #ffffff')
          td
            div(style='height: 40px; width: 100%; border-bottom: 1px solid #dde3f1;')
        tr
          td(style='padding: 10px 0px')
            p(style='font-size: 12px')
              | Copyright &copy; 2015 Higher Altitude, Inc. All rights reserved.
