html
  head
    body(style="background-color: #eef0f4; text-align: center; font-family: 'Helvetica', 'Arial', sans-serif; color: #47494d; font-size: 16px")
      table(style='width: 670px; margin: 0 auto; border-collapse: collapse')
        tr
          td(style='padding-top: 20px; padding-bottom: 20px; font-size: 14px')
            Prizm Welcome!
        tr(style='background-color:#ffffff; text-align: left')
          td(style='height: 88px; border-bottom: #dde3f1;')
            div(style='height: 88px; width: 100%; border-bottom: 1px solid #dde3f1;')
              img(src='http://www.prizmapp.com/images/logo.png' alt='Prizm'
                  style='margin-top: 22px; height: 47px; width: 116px; margin-left: 20px;')
        tr(style='background-color: #ffffff;')
          td(style='height: 174px; vertical-align: middle; width: 100%; text-align: center; color: #25689a')
            p(style='font-size: 22px; font-weight: light; width: 420px; margin: 5px auto;')
              | Thank you for submitting #{user.name} for consideration as an 
              | institution on Prizm.
        tr(style='background-color: #ffffff;')
          td(style='padding: 30px; text-align: left;')
            p(style='font-size: 16px')
              | Unfortunately, we cannot approve #{user.name} as an institution on
              | Prizm at this time because you have not met our qualifications.
            p(style='font-size: 16px')
              | There are two criteria to meet to be considered an institution.
            ol
              li(style='font-size: 16px')
                | Both community based organizations and higher education
                | institutions need to be registered as 501(c)(3) non-profit
                | organizations.
              li(style='font-size: 16px')
                | Higher education institutions need to be accredited, degree
                | granting institutions.
            p(style='font-size: 16px')
              | If you think we have made an error in our assessment of your
              | organization, please do not hesitate to reach out.
            p(style='font-size: 16px') Sincerely,
            p(style='font-size: 16px') Prizm Product Team
        tr(style='background-color: #ffffff')
          td(style='text-align: center; padding: 20px;')
            p(style='font-size: 14px; color: #25689a;') FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp'
            style='text-decoration: none')
              img(src='http://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px;'
              alt='Facebook')
            a(href='https://www.twitter.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px;'
              alt='Twitter')
            a(href='https://www.instagram.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px;'
              alt='Instagram') 
        tr(style='background-color: #ffffff')
          td
            div(style='height: 40px; width: 100%; border-bottom: 1px solid #dde3f1;')
        tr
          td(style='padding: 10px 0px')
            p(style='font-size: 12px')
              | Copyright &copy; 2014 Higher Altitude, Inc. All rights reserved.
