- var diff
- var type
html
  head
    body(style="background-color: #eef0f4; text-align: center; font-family: 'Helvetica', 'Arial', sans-serif; color: #47494d; font-size: 20px; line-height: 1.3em;")
      table(style='width: 670px; margin: 0 auto; border-collapse: collapse')
        tr(style='background-color:#ffffff; text-align: left')
          td(style='height: 88px; border-bottom: #dde3f1;')
            div(style='height: 88px; width: 100%; border-bottom: 1px solid #dde3f1;')
              img(src='http://www.prizmapp.com/images/logo.png' alt='Prizm'
                  style='margin-top: 22px; height: 47px; width: 116px; margin-left: 20px;')
        tr(style='background-color: #ffffff;')
          td(style='padding: 0px; text-align: left;')
            p(style='padding: 0px; font-size: 24px; text-align: center; line-height: 29px;color: #324b8f; border-bottom: 1px solid #dde3f1; padding-bottom: 31px; margin: 0;')
              | Hi #{owner.contact_first || organization.name},
              br
              | Here's your weekly update 
              br 
              | about #{organization.name} on Prizm.
            p(style='font-size: 20px; margin: 30px; padding-top: 0px;') 
              - diff = stats.notificationCount - stats.lastNotificationCount
              - type = diff > 0?'up from':'down from';
              - if (diff == 0) type='equal to'
              | You sent #{stats.notificationCount} notifications to #{stats.notificationTotal} members  
              | this week.
              - var bgColor = diff>=0?'#23b856':'#f63547';
              p(style='font-size: 20px; font-weight: 600; color: #545358; margin-top: -10px; line-height: 47px; padding-left: 30px; padding-right: 30px;')
                span(style='float: left;height: 47px; width: 47px; border-radius: 50%; background-color: #{bgColor}; display: inline-block; margin-right: 16px; color: white; text-align: center; font-weight: 400; padding: 0; vertical-align: middle; line-height: 47px;') #{diff} 
                | #{type} last week's 
                strong #{stats.lastNotificationCount}.
            p(style='font-size: 20px; border-top: 1px solid #dde3f1; margin: 30px; padding-top: 30px;')
              - diff = stats.messageCount - stats.lastMessageCount
              - type = diff > 0?'up from':'down from';
              - if (diff == 0) type='equal to'
              | You sent #{stats.messageCount} messages to #{stats.messageTotal} members this week.  
              - var bgColor = diff>=0?'#23b856':'#f63547';
              p(style='font-size: 20px; font-weight: 600; color: #545358; margin-top: -10px; line-height: 47px; padding-left: 30px;')
                span(style='float: left;height: 47px; width: 47px; border-radius: 50%; background-color: #{bgColor}; display: inline-block; margin-right: 16px; color: white; text-align: center; font-weight: 400; padding: 0; vertical-align: middle; line-height: 47px;') #{diff} 
                | #{type} last week's 
                strong #{stats.lastMessageCount}.
            p(style='font-size: 20px; border-top: 1px solid #dde3f1; padding-top: 30px;  margin: 30px; padding-top: 30px;')
              - diff = stats.insightCount - stats.lastInsightCount
              - type = diff > 0?'up from':'down from';
              - if (diff == 0) type='equal to'
              | You sent #{stats.insightCount} insights to #{stats.insightTotal} members this week.
            p(style='font-size: 20px; font-weight: 600; color: #545358; margin-top: -10px; line-height: 47px; padding-left: 30px;')
              span(style='float: left;height: 47px; width: 47px; border-radius: 50%; background-color: #{bgColor}; display: inline-block; margin-right: 16px; color: white; text-align: center; font-weight: 400; padding: 0; vertical-align: middle; line-height: 47px;') #{diff}
              | #{type} last week's #{stats.lastInsightCount}.
              br
            p(style='font-size: 20px; border-top: 1px solid #dde3f1; padding-top: 30px; margin: 30px; padding-top: 30px;')
              strong #{stats.activePercent}% of your registered users 
              | logged in to Prizm this week 
              br
              | #{stats.activeMembers}/#{stats.totalMembers} (# logged in/total users).
            if stats.mostActive.length > 0
              p(style='font-size: 20px; border-top: 1px solid #dde3f1; padding-top: 30px; margin: 30px;')
                | Your 
                strong #{stats.mostActive.length} most active members 
                | were
                ul(style='list-style: none; padding-left: 0; font-size: 18px;')
                  each user in stats.mostActive
                    li(style='line-height: 47px; vertical-align: middle; padding-bottom: 8px; padding-top: 8px; margin: 0;') 
                      img(height=47 width=47 src='#{user.avatar}' style='border-radius: 50%; float: left; margin-right: 16px;')
                      | #{user.name}
            else
              p(style='font-size: 20px; font-weight: 600; padding-top: 30px; border-top: 1px solid #dde3f1; margin: 30px;')
                | None of your members were active this week.
            p(style='font-size: 20px; border-top: 1px solid #dde3f1; padding-top: 30px; margin: 30px; padding-top: 30px;')
              if stats.trendingHashtags
                | The most used hashtag among your members this 
                br
                | week was 
                strong ##{stats.trendingHashtags._id}, 
                br
                - stats.lastTrendingHashtags = stats.lastTrendingHashtags || {_id: 'none'}
                - var same = stats.trendingHashtags._id == stats.lastTrendingHashtags._id?'same as':'different than'
                | #{same} last week's 
                strong ##{stats.lastTrendingHashtags._id}.
              else
                | There were no trending hashtags among your members this week.
            p(style='font-size: 20px; padding-top: 30px; border-top: 1px solid #dde3f1; border-bottom: 1px solid #dde3f1; margin: 30px;')
              | Your members' 
              strong most popular 
              | post this week was 
              br
              | with 
              strong #{stats.popularPost.likes_count} 
              | likes and 
              strong #{stats.popularPost.comments_count} 
              | comments.
              br
              img(style='margin-top: 30px; height: 320px; width: 320px' 
              src='#{stats.popularPost.file_path}')
            p(style='font-size: 20px; margin-top: 60px; margin-left: 30px;')
              | Let us know if you have any questions,
              br
            p(style='font-size: 20px; margin-left: 30px;')
              | Take care,
              br
              | The Prizm Team
            p(style='font-size: 20px')
              br
              br
              a(href="https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8" style='font-size: 18px; text-decoration: none')
                img(src="https://www.prizmapp.com/images/app_store.png" width=150) 
              br
              br
              a(href="https://www.prizmapp.com/login" style='font-size: 18px; text-decoration: none')
                img(src="https://www.prizmapp.com/images/google.png" width=150)
              br
        tr(style='background-color: #ffffff')
          td(style='text-align: center; padding: 20px;')
            p(style='font-size: 14px; color: #25689a;') FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp'
            style='text-decoration: none')
              img(src='http://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px;'
              alt='Facebook')
            a(href='https://www.twitter.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px;'
              alt='Twitter')
            a(href='https://www.instagram.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px;'
              alt='Instagram') 
        tr(style='background-color: #ffffff')
          td
            div(style='height: 40px; width: 100%; border-bottom: 1px solid #dde3f1;')
        tr
          td(style='padding: 10px 0px')
            p(style='font-size: 12px')
              | Copyright &copy; 2015 Higher Altitude, Inc. All rights reserved.
