html
  head
    body(style='background-color: #eef0f4, color: #47494d;' 
    + 'font-family: Helvetica, Arial, sans-serif;')
    div(style='text-align: center, font-family: \'Helvetica\', \'Arial\''
    + ', sans-serif; width: 100%;')
      table(style='width: 670px; margin: 0 auto; border-collapse: collapse;')
        tr(style='background-color: #ffffff; text-align: left')
          td(style='height: 88px; border-bottom: #dde3f1;')
            div(style='height: 88px; width: 100%; border-bottom: 1px solid'
            + ' #dde3f1;')
              img(src='https://www.prizmapp.com/images/logo.png' alt='Prizm'
              style='margin-top: 22px; height: 47px; width: 116px;'
              + 'margin-left: 20px;')
        tr(style='background-color: #ffffff;')
          td(style='height: 174px; vertical-align: middle; width: 100%;'
          + ' text-align: center; color: #25689a; border-bottom: 1px solid '
          + '#dde3f1;')
            p(style='font-size: 26px; font-weight: light; margin: 5px; '
            + 'color: #25689a;')
              | Welcome to Prizm!
            p(style='font-size: 22px; font-weight: light; width: 420px; '
            + 'margin: 5px auto; color: #25689a;')
              | We’re excited to have you connecting with your members on our platform. 

        tr
          td(style='background-color: #ffffff; padding: 30px; '
          + 'border-color: #ffffff; text-align: left; font-size: 16px;')
            p(style='font-size: 16px')
              | Organizations of all types and sizes using Prizm have told us 
              | how much better their in-person meetings have become because 
              | members and leaders are more familiar with each other. 
            p(style='font-size: 16px')
              | Send a message about something that made you smile today and 
              | start a group conversation. Send a quick 1 question survey to 
              | check in on what your members might need. Your members will 
              | follow your example when you engage with them on Prizm!
            p(style='font-size: 16px')
              | The Prizm team is committed to your success, and we’ll be 
              | checking in periodically. If you have any questions or 
              | feedback in the meantime, please email us 
              a(href="mailto:info@prizmapp.com") here 
              | .
              br
            p(style='font-size: 16px')
              strong Sincerely,
            p(style='font-size: 16px')
              | Prizm Product Team
        tr
          td(style='text-align: center; padding: 20px; ' 
          +' background-color: #ffffff;')
            a(href='prizmapp://openup' 
            style='padding: 10px; font-size: 22px; background-color: #25689a; '
            + 'color: #ffffff; text-decoration: none;')
              | Open Prizm
        tr
          td(style='text-align: center; padding: 20px; background-color: '
          + '#ffffff;')
            p(style='font-size: 14px; color: #25689a;')
              | FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp' 
            style='text-decoration: none')
              img(src='https://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px' alt='facebook')
            a(href='https://www.twitter.com/beprizmatic' 
            style='text-decoration: none; margin-left: 5px;')
              img(src='https://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px' alt='twitter')
            a(href='https://www.instagram.com/beprizmatic' 
            style='text-decoration: none; margin-left: 5px;')
              img(src='https://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px' alt='instagram')
        tr
          td(style='background-color: #ffffff')
            div(style='height: 40px; width: 100%; border-bottom: 1px solid '
            + '#dde3f1;')
        tr
          td(style='background-color: #ffffff; padding: 40px; '
          + 'vertical-align: middle; width: 100%; text-align: center;')
            p(style='font-size: 14px; color: #25689a')
              | You have received this email because you signed up for an 
              | account on Prizm with the email address: 
              a(href='mailto:#{user.email}' style='color: #25689a; '
              + 'text-decoration: none') #{user.email}
              | . We respect your privacy and hope that you enjoy these 
              | messages. If you would no longer like to receive these emails,
              | you can safely and easily unsubscribe below.
            p(style='color: #25689a; font-size: 14px')
              a(href='*|UNSUB|*' style='color:#25689a; text-decoration: none; '
              + 'font-size: 14px;') Unsubscribe 
              | | 
              a(style='color: #25689a; text-decoration: none; font-size: 14px;'
                href='https://www.prizmapp.com/privacy') Privacy Policy
        tr
          td(style='padding: 10px 0px')
            p(style='font-size: 12px;')
              | Copyright &copy; 2014 Higher Altitude, Inc. All rights 
              | reserved.
