<html>
<body>
  <p>New Beta Request</p>
  <ul>
    <li><strong>Name:</strong> <%= user.name %></li>
    <li><strong>Age:</strong> <%= user.age %></li>
    <li><strong>Gender:</strong> <%= user.gender %></li>
    <li><strong>City/State:</strong> <%= user.cityState %></li>
    <li><strong>Email:</strong> <%= user.email %></li>
    <li><strong>Mobile:</strong> <%= user.mobile %></li>
  </ul>
</body>
</html>
