<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
  </head>
  <body>
    <div class="wrap" id="body-home">
      <%- include navbar.ejs %>
      <div class="body column">
        <h2>
          Capture and share personal achievements and inspirations as they 
          happen.
        </h2>
        <a onclick="prizm.signUp()" href="#" id="sign-up">Sign up for the private beta</a>
      </div>
     
    </div>
    <div class="overlay">
      <p>
        <span class="column">
          Prizm is a visual journal that helps you explore and discover new 
          opportunities.
        </span>
      </p>
    </div>
    <%- include legal.ejs %>
    <%- include infoform.ejs %>
    <div class="hidden" id="confirm">
      <%- include confirmform.ejs %>
    </div>
  </body>
</html>
