<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
    <meta name="twitter:card" content="app" />
    <meta name="twitter:site" content="@beprizmatic" />
    <meta name="twitter:creator" content="@beprizmatic" />
    <meta name="twitter:domain" content="prizmapp.com" />
    <meta name="twitter:title" content="Prizm App" />
    <meta name="twitter:description" content="Capture and share personal
    inspirations and achievements as they happen." />
    <meta name="twitter:app:country" content="US" />
    <meta name="twitter:app:name:iphone" content="Prizm App" />
    <meta name="twitter:app:id:iphone" content="903458597" />
    <meta name="twitter:app:id:ipad" content="9903458597" />
  </head>
  <body>
    <div class="wrap" id="body-home">
      <%- include navbar.ejs %>
      <div class="body">
        <div id="phone"></div> 
        <h2 class="column">
          Capture and share personal inspirations and achievements as they 
          happen.
        </h2>
        <p class="sign-up-desc">Click below to participate in our private beta.</p>
        <a onclick="prizm.signUp()" href="#" id="sign-up">Sign up</a>
      </div>
      
    </div>
    <div class="overlay">
      <p>
        <span class="column">
          Prizm is a visual journal that helps you explore and discover new 
          opportunities.
        </span>
      </p>
    </div>
    <%- include legal.ejs %>
    <%- include infoform.ejs %>
    <div class="hidden" id="confirm">
      <%- include confirmform.ejs %>
    </div>
  </body>
</html>
