doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/format.css')
		script(src='/javascripts/jquery-1.11.1.min.js', type='text/javascript')
		script(src='/javascripts/jquery.lightbox_me.js', type='text/javascript')
		script(src='/javascripts/prizm.js', type='text/javascript')
		meta(name='viewport'
				 content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
		meta(name='twitter:card' content='app')
		meta(name='twitter:site' content='@beprizmatic')
		meta(name='twitter:creator' content='@beprizmatic')
		meta(name='twitter:domain' content='prizmapp.com')
		meta(name='twitter:title' content='Prizm App')
		meta(name='twitter:description'
				 content='Capture and share personal inspirations and achievements as they happen.')
		meta(name='twitter:app:country' content='US')
		meta(name='twitter:app:name:iphone' content='Prizm App')
		meta(name='twitter:app:id:iphone' content='903458597')
		meta(name='twitter:app:id:ipad' content='9903458597')
		meta(property='fb:app_id' content='1408826952716972')
		meta(property='og:title' content='Prizm App')
		meta(property='og:description'
				 content='Capture and share personal inspirations and achievements as they happen.')
		meta(property='og:image'
				 content='http://www.prizmapp.com/images/small-logo.png')
		meta(property='og:url' content='http://www.prizmapp.com/')
		meta(name='apple-itunes-app'
				 content='app-id=903458597, app-argument=prizm://open')
		meta(name='description'
				 content='Prizm is a visual journal app that helps you explore and discover new opportunities.')
		body
			.wrap#body-home
				.nav-top
					h1#logo(onClick='prizm.goHome()')
						span.hidden Prizm
					.menu
						span.menu-button(class=(selected=='home')?'selected':'')
							a(href='/') Home
						span.menu-button(class=(selected=='about')?'selected':'')
							a(href='/about') About
						span.menu-button(class=(selected=='blog')?'selected':'')
							a(href='http://beprizmatic.com') Blog
						span.menu-button(class=(selected=='press')?'selected':'')
							a(href='mailt0:press.prizmapp.com') Press
				// home section
				.body
					#phone
					h2.column
						| Capture and share personal inspirations and achievements as they 
						| happen.
					p.sign-up-desc
						| Click below to download Prizm.
					a#sign-up(href='https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8&uo=4'
										target='itunes_store')
					a#android(href='#')
			.overlay
				p
					span.column
						|Prizm is a visual journal that learns your interests and connects you
						| to new opportunities. 
			// about section
			.full-width.blue-background#about-block
				.about-left.wrap
					h2 About
					p.column
						| Prizm is a mobile app that helps you collect your inspirations and 
						| achievements in one place, kind of like a journal and a trophy case 
						| combined. Your Prizm reflects who you are by bringing the posts you 
						| choose from apps like Instagram and Twitter together with posts you 
						| create inside of Prizm. You can explore your interests and discover 
						| new people that inspire you.
					.wrap
						#about-phone1
			// insight seciont
			.full-width#insight-block
				.insight-left.wrap
					h2 Insight
					p.column
						| As Prizm gets to know you based off your selected interests,
						| posts, hashtags, and who you're following, it will send periodic
						| insights that we hope will spark your interest. It could be info
						| about a college that might be a good fit for you, tips from 
						| someone at the top of their game, or a possible career to explore
					.wrap
						#insight-phone
			// mission section
			.full-width.blue-background#about-mission
				.mission-right.wrap
					h2 Mission
					p.column
						| We developed Prizm as a tool to help you connect the dots between
						| where you are now and where you want to be. We believe that 
						| exploring your interests today can spark choices for the future.
					h2 The Result
					p.column
						| A positive mobile community where you can discover how your 
						| interests and achievements match up with different colleges, 
						| military, community organizations, and career paths.
					.wrap
						#about-phone2
			// legal
			.full-width#footer
				p.legal-block
					span.social
						span#follow-prizm Follow Prizm
						a.contact-button#facebook(href='https://www.facebook.com/prizmapp')
						a.contact-button#twitter(href='https://www.twitter.com/beprizmatic')
						a.contact-button#instagram(href='https://www.instagram.com/beprizmatic')
					span.legal-span
						| Copyright &copy; 2014 Prizm Powered by 
						a.underline(href='http://www.higheraltitude.co') Higher Altitude
						| -
						a.underline(href='/privacy') Privacy Policy
						| -
						a.underline(href='/terms') Terms of Service
						| -
						a.underline(href='https://www.prizmapp.desk.com') Support








