<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
    <meta name="twitter:card" content="app" />
    <meta name="twitter:site" content="@beprizmatic" />
    <meta name="twitter:creator" content="@beprizmatic" />
    <meta name="twitter:domain" content="prizmapp.com" />
    <meta name="twitter:title" content="Prizm App" />
    <meta name="twitter:description" content="Capture and share personal
    inspirations and achievements as they happen." />
    <meta name="twitter:app:country" content="US" />
    <meta name="twitter:app:name:iphone" content="Prizm App" />
    <meta name="twitter:app:id:iphone" content="903458597" />
    <meta name="twitter:app:id:ipad" content="9903458597" />
    <meta property="fb:app_id" content="1408826952716972" />
    <meta property="og:title" content="Prizm App" />
    <meta property="og:description" content="Capture and share personal
    inspirations and achievements as they happen." />
    <meta property="og:image" content="http://www.prizmapp.com/images/small-logo.png" />
    <meta property="og:url" content="http://www.prizmapp.com/" />
  </head>
  <body>
    <div class="wrap" id="body-home">
      <%- include navbar.ejs %>
      <div class="body">
        <div id="phone"></div> 
        <h2 class="column">
          Capture and share personal inspirations and achievements as they 
          happen.
        </h2>
        <p class="sign-up-desc">Click below to download Prizm.</p>
        <a 
          href="https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8&uo=4"
          id="sign-up" target="itunes_store" 
          ></a>
      </div>
      
    </div>
    <div class="overlay">
      <p>
        <span class="column">
          Prizm is a visual journal that helps you explore and discover new 
          opportunities.
        </span>
      </p>
    </div>
    <%- include legal.ejs %>
    <%- include infoform.ejs %>
    <div class="hidden" id="confirm">
      <%- include confirmform.ejs %>
    </div>
  </body>
</html>
