html
	head
		body
			table
				tr
					td
						p
							| Prizm Insight
					td			
						p
							| Email not displaying correctly? 
							a
								| View it iny your browser
				tr
					td
						Prizm Logo
				tr
					td
						p
							| We think you'll like this Insight
						p
							a(href='#{insight.link}')
								| #{insight.title}
				tr
					td
						img(src='#{avatar.image}')
					td
						p
							| #{creator.name}
				tr
					td
						img(src='#{insight.file_path')
				tr
					td
						for (var i = 0; i < #{insight.hash_tags.length}; i++) {
							#{insight.hash_tags[i]}
						}
				tr
					td
						p
							a(href='')
								| On a Mobile Device?
						p
							| Checkout this Insight in Prizm
				tr
					td
						| Open Prizm
				tr(style='background-color: #ffffff')
          td(style='text-align: center; padding: 20px;')
            p(style='font-size: 14px; color: #25689a;') FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp'
            style='text-decoration: none')
              img(src='http://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px;'
              alt='Facebook')
            a(href='https://www.twitter.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px;'
              alt='Twitter')
            a(href='https://www.instagram.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px;'
              alt='Instagram') 
