<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%- include include.ejs -%>
		<script type="text/javascript" src="/javascripts/s3upload.js"></script>
	</head>
	<body>
		<div class="wrap" id="insight">
			<%- include navbar.ejs -%>
			<div class="insight">
				<form method="post">
					<div class="insight create">
						<div class="insight creator">
							<span>Creator:</span>
							<select name="creator">
								<% for (var i = 0; i < users.length; i++) { %>
									<option value="<%= users[i].id %>"><%= users[i].name %></option>
								<% } %>
							</select>
						</div>
						<div class="insight title">
							<span>Title:</span><input type="text" name="title" id="insightTitle"/>
						</div>
						<div class="insight text">
							<span>Text:</span><input type="text" name="text" id="insightText"/>
						</div>
						<div class="insight file-path">
							<p id="status">Please select a file</p><input type="file" name="image" id="insight-image-upload"/>
							<div style="border:1px solid gray;width:300px;"  id="preview"><img src="/images/default.png" style="width:300px;" /></div>
							<input type="hidden" id="avatar_url" name="avatar_url" value="/public/images/default.png" />
							<input type="hidden" name="filePath" id="insight-file-path" value=""/>
						</div>
						<div class="insight link">
							<span>Link:</span><input type="url" name="linkURL" id="insight-link"/>
						</div>
						<div class="insight link-title">
							<span>Link Title:</span><input type="text" name="linkTitle" id="insight-link-title"/>
						</div>
						<div class="insight tags">
							<span>Tags:</span><input type="text" name="tags" id="insight-tags"/>
						</div>
						<div class="insight hash-tags">
							<span>Hash Tags:</span><input type="text" name="hashTags" id="insight-hash-tags/">
						</div>
					</div>
					<div id="submit-insight">
						<input type="submit" value="send"/>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function s3_upload(){
			    var status_elem = document.getElementById("status");
			    var url_elem = document.getElementById("avatar_url");
			    var preview_elem = document.getElementById("preview");
			    var file_path_elem = document.getElementById("insight-file-path");
			    var s3upload = new S3Upload({
			    		s3_object_name: '<%= uuid %>',
			        file_dom_selector: 'insight-image-upload',
			        s3_sign_put_url: '/sign_s3',
			        onProgress: function(percent, message) {
			            status_elem.innerHTML = 'Upload progress: ' + percent + '% ' + message;
			        },
			        onFinishS3Put: function(public_url) {
			            status_elem.innerHTML = 'Upload completed. Uploaded to: '+ public_url;
			            url_elem.value = public_url;
			            preview_elem.innerHTML = '<img src="'+public_url+'" style="width:300px;" />';
			            file_path_elem.value = public_url;
			        },
			        onError: function(status) {
			            status_elem.innerHTML = 'Upload error: ' + status;
			        }
			    });
			}
			(function() {
			    var input_element = document.getElementById("insight-image-upload");
			    input_element.onchange = s3_upload;
			})();
		</script>
	</body>
</html>