extends altlayout

block content
  #institution-block.full-width
    .wrap
      #institution-header(style="background-image: url('https://#{institution.cover_photo_url.substr(7)}')")
        #avatar-header
          img(src='https://#{institution.profile_photo_url.substr(7)}')
        h2.institution-name
          | #{institution.name}
        #location-icon
        p.location
          | #{institution.city}, #{institution.state}
      #institution-posts
        if (noPosts)
          #no-posts
            h2 This Institution has not created any posts yet
        else
          each post in posts
            .post
              .post-image
                img(src='https://#{post.file_path.substr(7)}')
              .post-footer
                .like-icon
                p.likes
                  | #{post.likes_count}
                .comment-icon
                p.comments
                  | #{post.comments_count}
                .share-icon