extends layouts/app_layout

block head
  script(src='/javascripts/profile.js' type='text/javascript')

block content
  #organization
  #profile-block.full-width.gray-font
    .wrap-profile
      .profile-owner(id='#{organization.owner}')
      #profile-header(style="background-image: url('images/profile_header.png')")
        if (headerImages.length > 15)
          #image-header-overlay
          #image-header
            each headerImage, i in headerImages
              if (i < 16)
                .background-tile(style='background-image: '
                + 'url(\'https://#{headerImage.substr(7)}\')')
        .slider-container
          #profile-header-section1.slider
            #avatar-header
              img(src='https://#{owner.profile_photo_url.substr(7)}')
            h2.profile-name
              | #{organization.name}
            p.profile-location
              | #{owner.city}, #{owner.state}
          #profile-header-section2.slider
            p.profile-info
              | #{owner.info}
            p.profile-website
              | #{owner.website}
          #profile-header-section3.slider
            .luminary-icon
              p
                | Luminary
            - var defaultImage = "background-image: url('images/default_profile_image.png')"
            - for (var i = 0; i < 3; i++)
                .luminary-card
                  .luminary-image(style=luminaries[i] ? "background-image: url('https://#{luminaries[i].profile_photo_url.substr(7)}')" : defaultImage
                                  class=luminaries[i] ? 'rounded-image' : '')
                  .luminary-name
                    p
                      if (luminaries[i])
                        | #{luminaries[i].name}
        .slider-nav
          ul
            li#profile-first.active
            li#profile-middle
            li#profile-last
      #profile-posts
        if (posts.length < 1)
          #no-posts
            h2 This Organization has not created any posts yet
        else
          include posts/post_feed