extends altlayout

block head
  script(src='/javascripts/profile.js' type='text/javascript')
  script(src='/javascripts/bootstrap.min.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme-prizm.css')
  link(rel='stylesheet', href='/stylesheets/login/login.css')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')


block navbar
  #profile-navbar
    if (auth)
      #avatar-navbar
        img(src='https://#{currentUser.profile_photo_url.substr(7)}')
        #profile-menu.hidden
          ul
            li
              a(href="#") Edit Profile
            li
              a(href="/logout") Log Out
      #navbar-name
        p
          | #{currentUser.name}
    else
      #navbar-login
        a(type='button'
          data-toggle='modal'
          data-target='#loginModal')
          | Login

block content
  #profile-block.full-width.gray-font
    .wrap-profile
      .profile-owner(id='#{organization.owner}')
      #profile-header(style="background-image: url('images/profile_header.png')")
        if (headerImages.length > 15)
          #image-header-overlay
          #image-header
            each headerImage, i in headerImages
              if (i < 16)
                .background-tile(style='background-image: '
                + 'url(\'https://#{headerImage.substr(7)}\')')
        .slider-container
          #profile-header-section1.slider
            #avatar-header
              img(src='https://#{organization.logo_url?organization.logo_url.substr(7):owner.profile_photo_url.substr(7)}')
            h2.profile-name
              | #{organization.name}
            p.profile-location
              | #{owner.city}, #{owner.state}
          #profile-header-section2.slider
            p.profile-info
              | #{owner.info}
            p.profile-website
              | #{owner.website}
          #profile-header-section3.slider
            .luminary-icon
              p
                | Luminary
            - var defaultImage = "background-image: url('images/default_profile_image.png')"
            - for (var i = 0; i < 3; i++)
                .luminary-card
                  .luminary-image(style=luminaries[i] ? "background-image: url('https://#{luminaries[i].profile_photo_url.substr(7)}')" : defaultImage
                                  class=luminaries[i] ? 'rounded-image' : '')
                  .luminary-name
                    p
                      if (luminaries[i])
                        | #{luminaries[i].name}
        .slider-nav
          ul
            li#profile-first.active
            li#profile-middle
            li#profile-last
      #profile-posts
        if (posts.length < 1)
          #no-posts
            h2 This Organization has not created any posts yet
        else
          each post in posts
            .post(id='#{post.id}')
              .post-image
                img(src='https://#{post.file_path.substr(7)}')
              .post-footer
                .like-icon
                p.likes
                  | #{post.likes_count}
                .comment-icon
                p.comments
                  | #{post.comments_count}
                .share-icon
                .time
                  #clock-image
                  #time #{post.time_since}
  // Login Modal
  div(class='modal fade'
      id='loginModal'
      tabIndex='-1'
      role='dialog'
      aria-labelledby='loginModalLabel')
    .modal-dialog
      .modal-content
        .modal-body
          include login/login_form
