extends altlayout

block head
  script(src='/javascripts/organization.js' type='text/javascript')
  //- script(type='text/javascript').
  //-   $(window).scroll(function() {
  //-     if($(window).scrollTop() == $(document).height() - $(window).height()) {
  //-       var lastPost = $('#organization-posts').children().last().attr('id');
  //-       var creator = '#{organization.owner}'
  //-       $.ajax({
  //-         url: './posts/',
  //-         headers: {
  //-           'Accept' : 'application/json',
  //-           'creator' : creator,
  //-           'lastPost' : lastPost
  //-         },
  //-         success: function(html) {
  //-           if(html) {
  //-               $("#organization-posts").append(html);
  //-           }
  //-         }
  //-       });
  //-     }
  //-   });

block navbar
  #organization-navbar
    #avatar-navbar
      img(src='https://#{organization.logo_url?'
      + 'organization.logo_url.substr(7):
      + 'owner.profile_photo_url}')
    #navbar-name
      p
        | #{organization.name}
      #organization-menu.hidden
        ul
          li
            a(href="#") Edit Profile
          li
            a(href="#") Log Out

block content
  #organization-block.full-width.gray-font
    .wrap-organization
      .organization-owner(id='#{organization.owner}')
      #organization-header(style="background-image: url('images/organization_header.png')")
        if (posts.length > 15)
          #image-header-overlay
          #image-header
            each post, i in posts
              if (i < 16)
                .background-tile(style='background-image: '
                + 'url(\'https://#{post.file_path.substr(7)}\')')
        .slider-container
          #org-header-section1.slider
            #avatar-header
              img(src='https://#{organization.logo_url?'
              + 'organization.logo_url.substr(7):'
              + 'owner.profile_photo_url}')
            h2.organization-name
              | #{organization.name}
            p.location
              | #{owner.city}, #{owner.state}
          #org-header-section2.slider
            p.organization-info
              | #{owner.info}
            p.organization-website
              | #{owner.website}
          #org-header-section3.slider
            .luminary-icon
              p
                | Luminary
            - var defaultImage = "background-image: url('images/default_profile_image.png')"
            - for (var i = 0; i < 3; i++)
                .luminary-card
                  .luminary-image(style=luminaries[i] ? "background-image: url('https://#{luminaries[i].profile_photo_url.substr(7)}')" : defaultImage
                                  class=luminaries[i] ? 'rounded-image' : '')
                  .luminary-name
                    p
                      if (luminaries[i])
                        | #{luminaries[i].name}
        .slider-nav
          ul
            li#org-first.active
            li#org-middle
            li#org-last
      #organization-posts
        if (noPosts)
          #no-posts
            h2 This Organization has not created any posts yet
        else
          each post in posts
            .post(id='#{post.id}')
              .post-image
                img(src='https://#{post.file_path.substr(7)}')
              .post-footer
                .like-icon
                p.likes
                  | #{post.likes_count}
                .comment-icon
                p.comments
                  | #{post.comments_count}
                .share-icon
