extends altlayout
block head
  script(type='text/javascript').
    $(window).scroll(function() {
      if($(window).scrollTop() == $(document).height() - $(window).height()) {
        var lastPost = $('#organization-posts').children().last().attr('id');
        var creator = '#{organization.id}'
        $.ajax({ url: '/content/?creator=' + creator + '&lastPost=' + lastPost,
          success: function(html) {
            if(html) {
                $("#organization-posts").append(html);
            }
          }
        });
      }
    });

block content
  #organization-block.full-width.gray-font
    .wrap
      #organization-header(style="background-image: url('https://#{organization.cover_photo_url.substr(7)}')")
        #avatar-header
          img(src='https://#{organization.profile_photo_url.substr(7)}')
        h2.organization-name
          | #{organization.name}
        #location-icon
        p.location
          | #{organization.city}, #{organization.state}
      #organization-posts
        if (noPosts)
          #no-posts
            h2 This Organization has not created any posts yet
        else
          each post in posts
            .post(id='#{post.id}')
              .post-image
                img(src='https://#{post.file_path.substr(7)}')
              .post-footer
                .like-icon
                p.likes
                  | #{post.likes_count}
                .comment-icon
                p.comments
                  | #{post.comments_count}
                .share-icon