extends layouts/app_layout

block head
  script(src='/javascripts/profile.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')

block content
  .container.topnav-offset
    .row
      .profile-owner(id='#{organization.owner}')
      .col-sm-12#profile-header
        if (headerImages.length > 15)
          .background-tile-container
            .background-tile-overlay
            each headerImage, i in headerImages
              if (i < 16)
                .background-tile
                  img(src='https://#{headerImage.substr(7)}')
        .slider-container
          #profile-header-section1.slider
            img(src='https://#{owner.profile_photo_url.substr(7)}'
                class='prizm-avatar-md')
            h1 #{organization.name}
            h4 #{owner.city}, #{owner.state}
          #profile-header-section2.slider
            h4 #{owner.info}
            h5 #{owner.website}
          #profile-header-section3.slider
            .luminary-icon
              p
                | Luminary
            - var defaultImage = '/images/profile/profile_default_avatar.png'
            - for (var i = 0; i < 3; i++)
                .luminary-card
                  img(src=luminaries[i] ? 'https://#{luminaries[i].profile_photo_url.substr(7)}' : defaultImage
                      class='prizm-avatar-md')
                  h4
                    if (luminaries[i])
                      | #{luminaries[i].name}
                    else
                      | &nbsp;
        .slider-nav
          ul
            li#profile-first.active
            li#profile-middle
            li#profile-last
    .row.profile-info
      .col-mob-12.col-xs-offset-6.col-xs-6.col-md-offset-8.col-md-4
        ul
          li
            | Followers
            | <br>
            strong
              | #{owner.followers_count}
          li
            | Following
            | <br>
            strong
              | #{owner.following_count}
          li
            | Posts
            | <br>
            strong
              | #{owner.posts_count}
    .row.profile-posts-container
        if (posts.length < 1)
          .col-sm-12
            h2 This Organization has not created any posts yet
        else
          include posts/post_feed
  div#postModal.modal.fade(
      tabIndex='-1'
      role='dialog'
      aria-labelledby='postModalLabel')
    .container.no-padding
      .modal-dialog
        .modal-content
          #post-display.modal-body