extends altlayout

block head
  script(type='text/javascript').
    $(window).scroll(function() {
      if($(window).scrollTop() == $(document).height() - $(window).height()) {
        var lastPost = $('#organization-posts').children().last().attr('id');
        var creator = '#{organization.owner}'
        $.ajax({
          url: './posts/',
          headers: {
            'Accept' : 'application/json',
            'creator' : creator,
            'lastPost' : lastPost
          },
          success: function(html) {
            if(html) {
                $("#organization-posts").append(html);
            }
          }
        });
      }
    });

block navbar
  #organization-navbar
    #avatar-navbar
      img(src='https://#{organization.logo_url.substr(7)}')
    #navbar-name
      | #{organization.name}
    #organization-menu.hidden
      ul
        li
          a(href="#") View Profile
        li
          a(href="#") Edit Profile
        li
          a(href="#") Log Out




block content
  #organization-block.full-width.gray-font
    .wrap-organization
      #organization-header(style="background-image: url('images/organization_header.png')")
        if (posts.length > 15)
          #image-header-overlay
          #image-header
            each post, i in posts
              if (i < 16)
                .background-tile(style="background-image: url('https://#{post.file_path.substr(7)}')")
        #org-header-section1
          #avatar-header
            img(src='https://#{organization.logo_url.substr(7)}')
          h2.organization-name
            | #{organization.name}
          #location-icon
          p.location
            | #{owner.city}, #{owner.state}
      #organization-posts
        if (noPosts)
          #no-posts
            h2 This Organization has not created any posts yet
        else
          each post in posts
            .post(id='#{post.id}')
              .post-image
                img(src='https://#{post.file_path.substr(7)}')
              .post-footer
                .like-icon
                p.likes
                  | #{post.likes_count}
                .comment-icon
                p.comments
                  | #{post.comments_count}
                .share-icon