<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
  </head>
  <body>
      <div class="wrap" id="terms">
        <%- include navbar.ejs %>
        <p>We are looking for education, military, community organizations, 
        foundations and corporate partners to engage with students on Prizm.
        </p>
        <%- include whatisprizm.ejs %> 
        <h2>Why Prizm?</h2>
        <p>We began this project because we saw firsthand how the world has changed with the adoption of mobile devices. The way people— especially teens— communicate and relate to each other has fundamentally changed in the past 10 years, and large organizations from colleges and universities to big brands are still working to capitalize on this shift.</p>
        <p>We use a 3 Cs model of engagement to make Prizm interesting to both students and partners:</p>
        <ul class='bullet'>
          <li>Content - Students are coming to Prizm specifically to collect inspirations and capture personal achievements and interests on their phones. They are looking for original, engaging content from you that could relate to one of their interests and hopefully become a goal, like attending your school or working at your company.</li>
          <li>Context - Your content won’t get lost in a string of party selfies and food photos. Students on Prizm are actively exploring their next move in life and want to learn about where they might fit in, whether it’s college, military or a summer internship. </li>
          <li>Community - Students on Prizm are inspired by fellow students and Luminaries, who are special members of the Prizm community that give advice about their specific areas of expertise. A partner’s role in the community is to present engaging content and find Luminaries to affiliate with their organization, whether it’s a distinguished alum or an employee with an interesting job.</li>
        </ul>
        <p>To join our private beta, or if you’d like more information, please contact us at <a href="mailto:info@prizmapp.com">info@prizmapp.com</p>
         <%- include legal.ejs %>
      </div>
  </body>
</html>
