<!DOCTYPE html>
<html>
  <head>
    <title>Prizm >> Post</title>
    <%- include include.ejs %>
    <meta property="twitter:card" content="photo" />
    <meta property="twitter:site" content="@beprizmatic" />
    <meta property="twitter:title" content="<%= post.creator.name %>" />
    <meta property="twitter:description" content="<%= post.hash_tags | '' %>" />
    <meta property="twitter:image" content="https://<%= post.file_path.substr(7) %>" />
    <meta property="twitter:url" content="http://prizmapp.com/posts/<%= post._id %>" />
    <meta property="twitter:app:id:iphone" content="903458597" />
    <meta property="twitter:app:url:iphone" content="prizmapp://open?post_id=<%= post._id %>" />
    <meta name="twitter:app:name:iphone" content="Prizm" />
    <meta name="og:title" content="<%= post.text %>" />
    <meta name="og:description" content="Posted via Prizm" />
    <meta name="og:url" content="http://prizmapp.com/posts/<%= post._id %>" />
    <meta name="og:site_name" content="Prizmapp" />
    <meta name="og:image" content="https://<%= post.file_path.substr(7) %>" />
    <meta name="og:image:width" content="640" data-dynamic="true" />
    <meta name="og:image:height" content="640" data-dynamic="true" />
    <meta name="og:type" content="website" />
    <meta name="apple-itunes-app" content="app-id=903458597, app-argument=prizmapp://open?post_id=<%= post._id %>" />
  </head>
  <body id="post-card">
    <div class="card-wrap">
    <div id="time-line"></div>
    <%- include navbar_alt.ejs %>
    <div id="card">
      <div id="card-header">
        <div id="card-profile-image" 
          style="background-image:url('<%= post.creator.profile_photo_url %>')">
        </div>
        <p><%= post.creator.name %><br />
        <span id="clock-image"></span> <span id="time"><%= ago %></span>
        </p>
        <div id="card-header-right">
          <div id="category-icon" style="background-image: url('/images/<%= category %>.png')"></div>
          <% if (post.external_provider) { %><p>Post via <%= post.external_provider.charAt(0).toUpperCase() + post.external_provider.slice(1) %></p>
        <% } %>
        </div>
      </div><!-- end card-header -->
      <div id="post-image-area" 
        style="background-image:url('<%= post.file_path %>')">
      
        <div id="post-footer"><span id="tags"><%= tags %></span></div><!-- end post footer -->
      </div><!-- end post-image-area -->
    </div>
    <p id="download-text">Get the app!</p>
    <a 
          href="https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8&uo=4"
          id="sign-up" target="itunes_store" 
          ></a>

  </div>
  </body>
</html>
