extends ../layouts/layout_app

block head
  link(rel='stylesheet' type='text/css' href='/stylesheets/notifications.css')
  script(type='text/javascript' src='/javascripts/notifications.js')

block content
  .container.topnav-offset
    .notifications-header.page-header
      | Notifications
    ul.notifications
      li.head
        .col Type
        .col Date
        .col Time
        .col Message
        .col Delivered
        .col Reply
      li.body
        ul
          each item in items
            li 
              .col #{item.type}
              .col #{item.date}
              .col #{item.time}
              .col 
                .title
                  | #{item.title}
                .message-tip
                  | #{item.text}

              .col
                if item.delivered
                  .delivered(onclick='notifications.showDelivered(event)'
                    data-key='#{item.unique}')
                    | #{item.delivered}
              .col

  each item in items
    if item.delivered
      .modal-overlay.hidden(data-key='#{item.unique}' onclick='notifications.closeDelivered(event)')
        .content(style='width: 590px; height: 610px; ')
          h2 Delivered
          ul(style='-webkit-padding-start: 0')
            - var messages = notes[item.key]
            each message in messages
              if message.sms && (message.sms.status == 'sent' || message.sms.status == 'delivered')
                - var userLink = '/profiles/' + message.to._id
                li.user-cell(style='margin-left: 0px;' onclick='nav.navigate("#{userLink}")')
                  - var photo =  message.to.profile_photo_url || '/images/default-profile.png'
                  .image
                    .profile-avatar.cursor(style='background-image: url("#{photo}")')
                  .cell-content
                    .name.cursor #{message.to.name}

           
