.topic
  - var isLeader = currentUser.isLeader || currentUser.type == 'institution_verified'
  span#groupName(onclick=isLeader && groupName?'messages.showNameForm(event)':'')
    | #{groupName?'#' + groupName.toLowerCase():'#all'} 
  form#changeName.hidden
    input(type='text' name='name' value='#{groupName?groupName.toLowerCase():""}' autofocus='autofocus')
  if isLeader && groupName
    div#groupSettings(data-name='#{groupName}' onclick='messages.showEditGroup(event)')
  span#groupMembers(onclick='messages.showMembers()') 
    span.group-count #{Number(count)}
  div#groupInfo(onclick='messages.showGroupInfo(event)')
    div#groupDescription
      | #{groupDescription || 'This group contains all members of the organization.'} 
 
#messageArea
  ul#messages
    include message_feed 
       
  form#newMessage
    .message-icon
    input(type='text' placeholder='Post a message to #{groupName?groupName.toLowerCase():"all"}...')
    button.send
#memberArea.hidden(class='#{groupName?groupName.toLowerCase():"all"}')
  ul#members
    include member_feed
