.topic
  - var isLeader = currentUser.isLeader || currentUser.type == 'institution_verified'
  span#groupName(onclick=isLeader && groupName?'messages.showNameForm(event)':'')
    | #{groupName?'#' + groupName.toLowerCase():'#all'} 
  form#changeName.hidden
    input(type='text' name='name' value='#{groupName?groupName.toLowerCase():""}' autofocus='autofocus')
  span#groupMembers(onclick='messages.showMembers()') 
    span.group-count #{Number(count)}
#messageArea
  ul#messages
    include message_feed 
       
  form#newMessage
    .message-icon
    input(type='text' placeholder='Post a message to #{groupName?groupName.toLowerCase():"all"}...')
#memberArea.hidden
  ul#members
    include member_feed
