.left-box
  .header
    span.profile-icon.cursor(style="background-image: url('#{ownerPhoto}')" 
    onclick='nav.navigate("/#{organization.namespace}")')
    span.group-name.cursor(onclick='nav.navigate("/#{organization.namespace}")')
      | #{organization.name}

  ul#topics
    include topics_feed
.right-box
  .topic
    | #all
  ul#messages
   include message_feed 
       
  form#newMessage
    .message-icon
    input(type='text' placeholder='Post a message to #all...')
