input#count(type='hidden' value='#{count}')
each message in messages
  - var canEdit = String(message.creator._id)==String(currentUser._id)
  - var isLeader = currentUser.type == 'institution_verified'
  - var likeAction = String(message.creator._id) == String(currentUser._id)?'':'messages.likeMessage(event)'
  - var creatorPhoto = message.creator.profile_photo_url?'https://' + message.creator.profile_photo_url.substr(7):'/images/default-profile.png'
  - var creatorClass = message.creator.subtype?message.creator.subtype:false
  - creatorClass = creatorClass?creatorClass:message.creator.org_status[0].role
  li.message(created='#{message.create_date}' data-id='#{message._id}' data-liked=message.liked)
    .raw-text.hidden(data-text = '#{message.text}')
    .profile-icon.cursor(
        class = '#{creatorClass}'
        style="background-image: url('#{creatorPhoto}')"
      onclick='nav.navigate("/profiles/#{message.creator._id}")') 
    .content
      span.creator.cursor(onclick='nav.navigate("/profiles/#{message.creator._id}")') 
        | #{message.creator.name}
      span.likes
        span.heart(class='#{message.liked?"full":"empty"}' 
          onclick='#{likeAction}')
        span#likesCount(class=message.likes_count == 0?'clear':'') 
          | #{message.likes_count}
      .foot
        span.clock-icon
        span.time-since #{message.timeSince} ago 
      span.message
        if message.meta.image && message.meta.image.url
          a(href=message.meta.url target='_blank')
            img.image-thumb(src=message.meta.image.url)
        if message.meta.title 
          a(href=message.meta.url target='_blank')
            .title #{message.meta.title}
        if message.meta.description
          .description #{message.meta.description}
        if message.image_url
          img.message-image(src=message.image_url target='_blank')
        | !{message.web_text}
        if canEdit || isLeader
          span.edit(onclick='messages.settingsClicked(event)')
            ul.edit-menu.hidden
              if message.text && message.text.length > 0 && canEdit
                li.action-edit(onclick='messages.editMessage(event)') Edit
              li.action-delete(onclick='messages.deleteMessage(event)') Delete

      
     
       
