.modal-overlay(onclick='overlay.cancel(event)')
  .content
    ul.tabs(data-cols = 2)
      li.active(data-for = 'section1' onclick='tabs.select(event)')
        | Viewed
      li(data-for = 'section2' onclick='tabs.select(event)')
        | Not Viewed
    ul#section1.body.active
      each user in read
        - var profilePage = '/profiles/' + user._id
        - var profileImage = user.profile_photo_url || '/images/default-profile.png'
        li.user-cell
          .image
            .profile-avatar.cursor(style='background-image: url("#{profileImage}")'
            onclick='nav.navigate("#{profilePage}")')
          .cell-content
            .name.cursor(onclick='nav.navigate("#{profilePage}")')
              | #{user.name}
    ul#section2.body
      each user in unread
        - var profileImage = user.profile_photo_url || '/images/default-profile.png'
        li.user-cell
          .image
            .profile-avatar.cursor(style='background-image: url("#{profileImage}")'
            onclick='nav.navigate("#{profilePage}")')
          .cell-content
            .name.cursor(onclick='nav.navigate("#{profilePage}")')
              | #{user.name}

