.front
  form(action='/login' method='post' class='form-signin')
    .form-signin-header
      h4.form-signin-heading
        | Welcome to Prizm
    p.
      Connect with
    .facebook-login
      a(href='/login/facebook')
        img(src='/images/login/facebook.png')
    .twitter-login
      a(href='/login/twitter')
        img(src='/images/login/twitter.png')
    p.underline-middle
      | or
    input(class='btn btn-lg btn-primary log-in'
          value='Log In'
          type='button'
          onClick='login.displayForm()')
    button(class='btn btn-lg btn-primary sign-up' type='button'
           onClick='login.register()')
      | Sign Up
    div.checkbox
      label
        input(type='checkbox'
              name='rememberMe'
              id='rememberMe'
              class='form-control')
        | Remember Me
    div.link
      a(href='#')
        | Forgot password?
.back
  if failure
    p#message
      span.error
      | That password is incorrect. Please try again.
  form(action='/login' method='post' class='form-signin' autocomplete='off')
    .form-signin-header
      h4(class="form-signin-heading")
        | Log In
    label(for='inputEmail' class='sr-only')
      | Email address
    input(type='email'
          name='email'
          id='inputEmail'
          class='form-control'
          placeholder='Email address'
          required)
    #email-icon
    label(for='inputPassword' class='sr-only')
      | Password
    input(type='password'
          name='password'
          id='inputPassword'
          class='form-control'
          placeholder='Password'
          required)
    #password-icon
    button(class='btn btn-lg btn-primary btn-block go' type='submit')
      | Go
    div.checkbox
      label
        input(type='checkbox'
              name='rememberMe'
              id='rememberMe')
        | Remember Me
    div.link
      a(href='#')
        | Forgot password?
  
  if failure
    script(type='text/javascript').
      login.displayForm();
