.front
  form(action='/login' method='post' class='form-signin')
    .form-signin-header
      h4.form-signin-heading
        | Welcome to Prizm
    p.
      Connect with
    .facebook-login
      a(href='login/facebook')
        img(src='images/login/facebook.png')
    .twitter-login
      a(href='login/twitter')
        img(src='images/login/twitter.png')
    .underline-left
    p.underline-middle
      | or
    .underline-right
    input(class='btn btn-lg btn-primary log-in' value='Log In' type='button')
    button(class='btn btn-lg btn-primary sign-up' type='input')
      | Sign Up
    div.checkbox
      label
        input(type='checkbox'
              name='rememberMe'
              id='rememberMe'
              class='form-control')
        | Remember Me
    div.link
      a(href='#')
        | Forgot password?
.back
  form(action='/login' method='post' class='form-signin')
    .form-signin-header
      h4(class="form-signin-heading")
        | Log In
    label(for='inputEmail' class='sr-only')
      | Email address
    input(type='email'
          name='email'
          id='inputEmail'
          class='form-control'
          placeholder='Email address'
          required)
    label(for='inputPassword' class='sr-only')
      | Password
    input(type='password'
          name='password'
          id='inputPassword'
          class='form-control'
          placeholder='Password'
          required)
    button(class='btn btn-lg btn-primary btn-block go' type='submit')
      | Go
    div.checkbox
      label
        input(type='checkbox'
              name='rememberMe'
              id='rememberMe'
              class='form-control')
        | Remember Me
    div.link
      a(href='#')
        | Forgot password?