each post in posts
  .col-md-4.col-sm-6.col-xs-12
    .post(id='#{post.id}')
      .post-image(onclick='profile.showModal(event)')
        img.lazy(data-original='https://#{post.file_path.substr(7).replace(".jpg", "_2.jpg")}'
        width=358
        height=358)
      .post-footer
        .like-icon
        p.icon-text
          | #{post.likes_count}
        .comment-icon(type='button'
                      class='cursor'
                      onclick='profile.showModal(event)')
        p.icon-text
          | #{post.comments_count}
        p.time-text
         | #{post.time_since}
        .clock-icon
        .action-icon
