each post in posts
  .col-md-4.col-sm-6.col-xs-12
    .post(id='#{post.id}')
      .post-image(onclick='profile.showModal(event)')
        img.lazy(data-original='https://#{post.file_path.substr(7).replace(".jpg", "_2.jpg")}'
        width=358
        height=358)
      .post-footer
        if post.ownPost
          .like-icon.not-liked
        else 
          if post.liked
            .like-icon.liked(onclick='profile.unlikePost("#{post._id}", event)')
          else
            .like-icon.not-liked(onclick='profile.likePost("#{post._id}", event)')
        p.icon-text.likes-count
          | #{post.likes_count}
        .comment-icon(type='button'
                      class='cursor'
                      onclick='profile.showModal(event)')
        p.icon-text
          | #{post.comments_count}
        p.time-text
         | #{post.time_since}
        .clock-icon
        .action-icon
