div(class='modal fade'
    id='newPostModal'
    tabIndex='-1'
    role='dialog'
    aria-labelledby='newPostModalLabel')
  .modal-dialog
    .modal-content
      .modal-body
        span Create Post
        form#new-post(action='/posts' method='post' enctype='multipart/form-data')
          .form-row
            output#preview
            input#post-text(type='textarea' 
                            name='postText' 
                            placeholder='Caption your post...')
          .form-row
            span Select options
          .form-row
            //- Image Upload
            input#x1(type='hidden' name='x1')
            input#x2(type='hidden' name='x2')
            input#y1(type='hidden' name='y1')
            input#y2(type='hidden' name='y2')
            input#width(type='hidden' name='width' )
            input#height(type='hidden' name='height' )
            button.btn.btn-post.btn-image(type='button')
              input#post-image(type='file' 
                               name='image'
                               accept='image/*'
                               onchange='Upload.fileSelect(event)')
            //- Location
            button.btn.btn-post.btn-location(type='button'
                                             onclick='post.addLocation()')
            //- Tag
            button.btn.btn-post.btn-tag(type='button'
                                        onclick='post.tagPost()')
            //- Trust Toggle
            button.btn.btn-post.btn-trust(type='button')
              input(id='trust' type='checkbox' name='trust')
              span
          .form-row
            span Select Category
          .form-row
            .btn.btn-post.btn-category
              input(id='aspiration' type='radio' name='category' value='aspiration')
              span Aspiration
            .btn.btn-post.btn-category
              input(id='passion' type='radio' name='category' value='passion')
              span Passion
            .btn.btn-post.btn-category
              input(id='experiences' type='radio' name='category' value='experiences')
              span Experiences
            .btn.btn-post.btn-category
              input(id='achievements' type='radio' name='category' value='acheivements')
              span Achivements
            .btn.btn-post.btn-category
              input(id='inspirations' type='radio' name='category' value='inspirations')
              span Inspirations
            .btn.btn-post.btn-category
              input(id='personal' type='radio' name='category' value='personal')
              span Personal
          .form-row
            button.btn.btn-primary.btn-create-post.disabled(type='submit') Save
