.container(id='#{post.id}')
  .dismiss.cursor(onclick='profile.dismissModal(event)')
  .next-post-left.cursor(onclick='profile.nextPost(event, "left")')
  .next-post-right.cursor(onclick='profile.nextPost(event, "right")')
  .row
    .col-sm-7.col-mob-12.no-padding
      .post-image(onclick='profile.dismissModal(event)')
        img(src='https://#{post.file_path.substr(7)}')
    .col-sm-5.col-mob-12.no-padding.absolute-height
      .comments-header
        .post-modal-avatar
          if post.creator.profile_photo_url
            img(src='https://#{post.creator.profile_photo_url.substr(7)}'
              class='prizm-avatar-sm')
          else
            img(src='/images/default-profile.png' class='prizm-avatar-sm')
        .avatar-name
          | #{post.creator.name}
        #clock-image
          | #{post.time_since}
      .post-comments
        .back-button(onclick='profile.dismissModal(event)')
        p.comments-title
          | Comments
      .comment-scroll
        if post.text
          .comment-container
            .post-modal-avatar
              if post.creator.profile_photo_url
                img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                class='prizm-avatar-sm')
              else
                img(src='/images/profile/profile_default_avatar.png')
            .avatar-name
              | #{post.creator.name}
            .comment-text
              | #{post.formattedText}
            .comment-info
              #clock-image
              #time
                | #{post.time_since}
              .comment-likes
                | -&nbsp;&nbsp;Like
              .like-icon
              .comment-likes-count
                | #{post.likes_count}

        each comment, i in post.comments
          .comment-container
            .post-modal-avatar
              if post.comments[i].creator.profile_photo_url
                img(src='https://#{post.comments[i].creator.profile_photo_url.substr(7)}'
                  class='prizm-avatar-sm')
              else
                img(src='/images/profile/profile_default_avatar.png' 
                    class='prizm-avatar-sm')
            .avatar-name
              | #{post.comments[i].creator.name}
            .comment-text
              | #{post.comments[i].formattedText}
            .comment-info
              #clock-image
              #time
                | #{post.comments[i].time_since}
              .comment-likes
                | -&nbsp;&nbsp;Like
              .like-icon
              .comment-likes-count
                | #{post.comments[i].likes_count}
      .comments-footer
        .comments-like
          img(src='/images/icons/like_icon.png')
        .comments-post
          form(action='/posts/#{post.id}' method='get' class='comment-post')
            label(for='inputComment' class='sr-only')
            input(type='text'
                  id='inputComment'
                  name='comment'
                  class='form-control'
                  placeholder='Write a comment...'
                  required)
            button(class='btn btn-xs btn-default post-button' type='submit')
              | Post
