.container(id='#{post.id}')
  .dismiss.cursor(onclick='profile.dismissModal(event)')
  .next-post-left.cursor(onclick='profile.nextPost(event, "left")')
  .next-post-right.cursor(onclick='profile.nextPost(event, "right")')
  .row
    .post-modal-left.no-padding
      .post-image.single-post(onclick='profile.dismissModal(event)')
        img(src='#{post.file_path}')
    .post-modal-right.no-padding.absolute-height
      .comments-header
        .post-modal-avatar
          if post.creator.profile_photo_url
            img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                class='prizm-avatar-sm'
                onclick='prizm.showProfile("#{post.creator._id}")')
          else
            img(src='/images/default-profile.png' class='prizm-avatar-sm'
                onclick='prizm.showProfile("#{post.creator._id}")')
        .avatar-name.cursor(onclick='prizm.showProfile("#{post.creator._id}")')
          | #{post.creator.name}
        .clock-icon
          | #{post.time_since}
      .post-comments
        .back-button(onclick='profile.dismissModal(event)')
        p.comments-title
          | Comments
      .comment-scroll
        if post.text
          .comment-container
            .post-modal-avatar
              if post.creator.profile_photo_url
                img(src='https://#{post.creator.profile_photo_url.substr(7)}'
                    class='prizm-avatar-sm'
                    onclick='prizm.showProfile("#{post.creator._id}")')
              else
                img(src='/images/profile/profile_default_avatar.png'
                    onclick='prizm.showProfile("#{post.creator._id}")' class='prizm-avatar-sm')
            .avatar-name.cursor(onclick='prizm.showProfile("#{post.creator._id}")')
              | #{post.creator.name}
            .comment-text
              | !{post.formattedText}
            .comment-info
                            
        each comment, i in post.comments
          .comment-container
            .post-modal-avatar
              if post.comments[i].creator.profile_photo_url
                img(src='https://#{post.comments[i].creator.profile_photo_url.substr(7)}'
                    class='prizm-avatar-sm'
                    onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
              else
                img(src='/images/profile/profile_default_avatar.png' 
                    class='prizm-avatar-sm'
                    onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
            .avatar-name.cursor(onclick='prizm.showProfile("#{post.comments[i].creator._id}")')
              | #{post.comments[i].creator.name}
            .comment-text
              | !{post.comments[i].formattedText}
            .comment-info
              .clock-icon
              .time
                | #{post.comments[i].time_since}
              .comment-likes
                | -&nbsp;&nbsp;Like
              .like-icon.liked
              .comment-likes-count
                | #{post.comments[i].likes_count}
      .comments-footer
        if post.ownPost
          .like-icon.not-liked.cursor
        else
          if post.liked
            .like-icon.liked.cursor(onclick='profile.unlikePost("#{post._id}", event)')
          else
            .like-icon.not-liked.cursor(onclick='profile.likePost("#{post._id}", event)')
        .comments-post
          form(class='comment-post')
            input(type='hidden' value='#{post._id}' name='postId')
            label(for='inputComment' class='sr-only')
            input(type='text'
                  id='inputComment'
                  name='comment'
                  class='form-control'
                  placeholder='Write a comment...'
                  onkeypress = 'profile.overrideEnter(event)'
                  required='required')
            a.cursor(class='btn btn-xs btn-default post-button'
                    onclick='profile.postComment("#{post._id}", event)')
              | Post
