extends ../layouts/layout_app

block head
  link(rel='stylesheet' type='text/css' href='/stylesheets/surveys.css')
  script(type='text/javascript' src='/javascripts/surveys.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $('.col.sortable').click(surveys.sortHandler);
      $('.col.sortable .action-sort').click(surveys.sort);
      $('.col button').click(surveys.buttonHandler);
    });

block content
  .container.topnav-offset.preload(data-images=['/images/icons/survey_summary_hover.png','/images/icons/survey_graph_hover.png','/images/icons/survey_resend_hover.png','/images/icons/survey_edit_hover.png','/images/icons/action_edit_selected.png','/images/icons/action_delete_selected.png'])
    script(type='text/javascript').
      surveys.preloadIcons();
    .survey-header.page-header
      | Survey
    ul#surveyAdmin
      li.control-board
        h3 
          span.dashboard.active Dashboard
      li.head
        .col.sortable Survey Name
          .action-menu
            .action-sort(data-order='asc' data-sort='name') Ascending
            .action-sort(data-order='desc' data-sort='name') Descending
        .col.sortable Survey Date
          .action-menu
            .action-sort(data-order='desc' data-sort='date') Newest
            .action-sort(data-order='asc' data-sort='date') Oldest
        .col Responses
        .col Action
      li.body
        ul
          each survey in surveys
            li(data-survey='#{survey._id}')
              .col(data-sort='name') #{survey.name}
              .col(data-sort='date' data-date='#{survey.create_date}') #{survey.formattedDate}
              .col #{survey.completed.length}
              .col
                button.summary(data-survey='#{survey._id}' data-action='summary')
                button.graph(data-survey='#{survey._id}' data-action='results')
                button.resend(data-survey='#{survey._id}' data-action='resend')
                button.edit(data-survey='#{survey._id}' data-action='edit')
                .action-menu
                  .action-edit Edit
                  .action-delete(data-survey='#{survey._id}' onclick='surveys.delete(event)') Delete
