.photo-card
  .photo-header
    h2 Customize
  | Add Photo to your Prizm
  .message-photo
  form(class='form-photo'
       method='post' enctype='multipart/form-data')
    input#userId(type='hidden' name='userId' value='')
    input#x1(type='hidden' name='x1')
    input#x2(type='hidden' name='x2')
    input#y1(type='hidden' name='y1')
    input#y2(type='hidden' name='y2')
    input#width(type='hidden' name='width')
    input#height(type='hidden' name='height')
    label#status(for='insight-image-upload') Please select a file
    input#photo-image-upload(type='file' 
    name='image' onchange='Upload.fileSelect(event)')
    output#preview
    input#avatar_url(type='hidden' name='avatar_url' value='/public/images/default.png')
    button(class='btn btn-lg btn-primary btn-upload'
           onClick='reg.uploadPhoto()'
           type='submit')
      | Upload
  button(class='btn btn-lg btn-primary btn-take'
         type='button')
    | Take
  button(class='btn btn-lg btn-primary btn-skip'
         onClick='reg.nextSection()'
         type='submit')
    | Skip