form(action='/register' method='post' class='form-register')
  label(for='inputName' class='sr-only')
    | Name
  input(type='text'
        name='name'
        id='inputName'
        class='form-control'
        placeholder='Name'
        required)
  label(for='inputEmail' class='sr-only')
    | Email address
  input(type='email'
        name='email'
        id='inputEmail'
        class='form-control'
        placeholder='Email address'
        required)
  label(for='inputPassword' class='sr-only')
    | Password
  input(type='password'
        name='password'
        id='inputPassword'
        class='form-control'
        placeholder='Password'
        required)
  label(for='inputConfirmPassword' class='sr-only')
    | Confirm Password
  input(type='password'
        name='confirmPassword'
        id='inputConfirmPassword'
        class='form-control'
        placeholder='Confirm Password'
        required)
  label(for='inputZipCode' class='sr-only')
    | Zip Code
  input(type='numbers'
        name='zipCode'
        id='inputZipCode'
        class='form-control'
        placeholder='Zip Code'
        required)
  label(for='inputPhone' class='sr-only')
    | Phone Number
  input(type='tel'
        name='phone'
        id='inputPhone'
        class='form-control'
        placeholder='Phone Number'
        required)
  label(for='inputWebSite' class='sr-only')
    | Web Site
  input(type='url'
        name='webSite'
        id='inputWebSite'
        class='form-control'
        placeholder='Web Site'
        required)
  input(name='userType'
      value='partner'
      class='hidden')
  button(class='btn btn-lg btn-primary btn-block'
        type='submit')
    | Next
