- var states = ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','GU','HI','IA','ID', 'IL','IN','KS','KY','LA','MA','MD','ME','MH','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY', 'OH','OK','OR','PA','PR','PW','RI','SC','SD','TN','TX','UT','VA','VI','VT','WA','WI','WV','WY']
.col-mob-6.left
  .header
    h2 Checkout
  h4 Enter Credit Card Information
  form#payment-form(action='?action=createStripeAccount' method='POST')
      .form-row
        input(type='text' data-stripe='name' id="name"
              placeholder='Name as it appears on card')
      .form-row
        input(type='text' data-stripe='address_line_1'
              placeholder='Billing Address' id="address")
      .form-row
        input(type='text' data-stripe='address_city'
              placeholder='City' id='city') 
        //- input(type='text' data-stripe='address_state'
        //-       placeholder='State' id ='state')
        label.states
          select(id='state' placeholder='State' data-stripe='address_state'
                 class='')
            each state in states
              option(value='#{state}') #{state}
        input(type='text' data-stripe='address_zip'
              placeholder='Zip Code' id='zip')  
      .form-row  
        input(type='text' data-stripe='number' id='number'
              placeholder='Credit Card Number') 
      .form-row
        label.exp-date
          span Exp Date
          input(type='text' data-stripe='exp-month'
                placeholder='MM' id='month')
          span
            | /
          input(type='text' data-stripe='exp-year'
                placeholder='YYYY' id='year') 
        input(type='text' data-stripe='cvc'
              placeholder='CVC Code' id='cvc')
        span.payment-errors
      span.paypal or pay using paypal
      button(type='submit' class='btn btn-primary btn-payment')
        | Start Customizing
  .message-payment
.col-mob-6.right